<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Add Member</h3>
  </div>
  <div class="beigeback single-wrpr">

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="search.search" (keyup.enter)="searchCompanie()" placeholder="Salon">
    </div>

    <div *ngIf="fetchedCompanie.name">
      {{fetchedCompanie.name}}
      <br>
      <button type="button" (click)="requestAddUserToComp()" class="done">Join Salon</button>
    </div>
    <div *ngIf="link">
      Mail will be sent to addresses below: and link in mail to approve request will be: <a href = "{{link}}">{{link}}</a>
      <div *ngFor="let user of userToSendMail">
        {{user.role}}: 
        {{user.email}}
      </div>
    </div>
  </div>
