<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Add Member</h3>
  </div>
  <div class="beigeback single-wrpr">

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="search.search" (keyup.enter)="searchCompanie()" placeholder="Salon">
    </div>
    <div *ngFor="let companie of fetchedCompanies">
      <div *ngIf="companie.magento.lastname">
        {{companie.magento.firstname}} {{companie.magento.lastname}}
        <br>
        <button type="button" (click)="requestAddUserToComp(companie._id)" class="done extra-margin">Join Salon</button>
      </div>
    </div>

  </div>
