<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Add Member to {{fetchedCompanie.name}}</h3>
  </div>

  <div *ngIf="isUserInCompanie">
    <div class="beigeback single-wrpr">
      User {{fetchedUser.email}} Already in Companie !
    </div>
  </div>
  <div *ngIf="!isUserInCompanie">
    <div class="beigeback single-wrpr">
      <div *ngIf="!fetchedUser.email">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="search.email" (keyup.enter)="searchEmails()" placeholder="Email">
        </div>
      </div>
      <form  *ngIf="fetchedUser.email" [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
        <div class="form-group">
          <div class="form-group">
            <input type="hidden" class="form-control" formControlName="_id" [(ngModel)]="fetchedUser._id">
          </div>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            [(ngModel)]="fetchedUser.email"
            placeholder="Email">
        </div>
        <div formGroupName="profile">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="name" [(ngModel)]="fetchedUser.profile.name" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="lastName" [(ngModel)]="fetchedUser.profile.lastName" placeholder="Last Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="phoneNumber" [(ngModel)]="fetchedUser.profile.phoneNumber" placeholder="Phone Number">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="title" [(ngModel)]="fetchedUser.profile.title" placeholder="Title">
          </div>
        </div>


        <div formArrayName="role">
          <div *ngFor="let role of getObjectsRole(myForm); let i=index" >
            <div [formGroupName]="i">
              <select
                class="form-control"
                formControlName="role"
                [(ngModel)]="fetchedUser.role[i]">
                <option *ngIf="isAdmin()" value="admin">Administrator</option>
                <option *ngIf="isAdmin()" value="salesRep">Sales Rep</option>
                <option *ngIf="isAdmin() || isSalesRep() || isManager()" value="manager">Manager</option>
                <option *ngIf="isAdmin() || isSalesRep() || isManager()" value="stylist">Stylist</option>
                <!--<option value="client">Client</option>-->
              </select>


            </div>
          </div>
        </div>

        <div class="valid-edit">
          <button type="submit" [disabled]="!myForm.valid" [ngClass]="{'done':myForm.valid,'pas-done':!myForm.valid}">Done</button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
