<div class="container topPadTable goldgradient beigeborder">
  <h3 class="topnav-ad">New! Curl Legend: Voluptuous, Silky and Bouncy Curls</h3>
  <a href="#" class="btn shopbutton">SHOP NOW</a>
</div>

<div class="container">
  <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
    <div class="form-group">
      <div ngModelGroup="fetchedObj">
        <div ngModelGroup="design">
          <div ngModelGroup="mainPage">
            <div class="row">
              <div class="col-sm-6 nopadding">
                <div>
                  <a [routerLink]="['/product']" routerLinkActive="active">
                    <img class="img-thumbnail img-responsive" src="./uploads/forms/{{fetchedObj.design.mainPage._imgHome1[0].owner}}/{{fetchedObj.design.mainPage._imgHome1[0].imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                  </a>
                </div>
                <label>Products</label>
                <div *ngIf="isAdmin()">
                  <input type="hidden" class="form-control"
                    name="_imgHome1" [(ngModel)]="fetchedObj.design.mainPage._imgHome1[0]._id"
                    #name="ngModel" required minlength="5">
                  <button type="button" md-button (click)="openDialog('_imgHome1')">Chose Media</button>
                </div>
              </div>

              <div class="col-sm-6 nopadding">
                <div>
                  <a [routerLink]="['/promotion']" routerLinkActive="active">
                    <img class="img-thumbnail img-responsive" src="./uploads/forms/{{fetchedObj.design.mainPage._imgHome2[0].owner}}/{{fetchedObj.design.mainPage._imgHome2[0].imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                  </a>
                </div>
                <label>Promotion</label>
                <div *ngIf="isAdmin()">
                  <input type="hidden" class="form-control"
                    name="_imgHome2" [(ngModel)]="fetchedObj.design.mainPage._imgHome2[0]._id"
                    #name="ngModel" required minlength="5">
                  <button type="button" md-button (click)="openDialog('_imgHome2')">Chose Media</button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 nopadding">
                <div>
                  <a [routerLink]="['/social']" routerLinkActive="active">
                    <img class="img-thumbnail img-responsive" src="./uploads/forms/{{fetchedObj.design.mainPage._imgHome3[0].owner}}/{{fetchedObj.design.mainPage._imgHome3[0].imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                  </a>
                </div>
                <label>Social</label>
                <div *ngIf="isAdmin()">
                  <input type="hidden" class="form-control"
                    name="_imgHome3" [(ngModel)]="fetchedObj.design.mainPage._imgHome3[0]._id"
                    #name="ngModel" required minlength="5">
                  <button type="button" md-button (click)="openDialog('_imgHome3')">Chose Media</button>
                </div>
              </div>

              <div class="col-sm-6 nopadding">
                <div>
                  <a [routerLink]="['/press']" routerLinkActive="active">
                    <img class="img-thumbnail img-responsive" src="./uploads/forms/{{fetchedObj.design.mainPage._imgHome4[0].owner}}/{{fetchedObj.design.mainPage._imgHome4[0].imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                  </a>
                </div>
                <label>Press</label>
                <div *ngIf="isAdmin()">
                  <input type="hidden" class="form-control"
                    name="_imgHome4" [(ngModel)]="fetchedObj.design.mainPage._imgHome4[0]._id"
                    #name="ngModel" required minlength="5">
                  <button type="button" md-button (click)="openDialog('_imgHome4')">Chose Media</button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 nopadding">
                <div>
                  <a [routerLink]="['/video']" routerLinkActive="active">
                    <img class="img-thumbnail img-responsive" src="./uploads/forms/{{fetchedObj.design.mainPage._imgHome5[0].owner}}/{{fetchedObj.design.mainPage._imgHome5[0].imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                  </a>
                </div>
                <label>Videos</label>
                <div *ngIf="isAdmin()">
                  <input type="hidden" class="form-control"
                    name="_imgHome5" [(ngModel)]="fetchedObj.design.mainPage._imgHome5[0]._id"
                    #name="ngModel" required minlength="5">
                  <button type="button" md-button (click)="openDialog('_imgHome5')">Chose Media</button>
                </div>
              </div>

              <div class="col-sm-6 nopadding">
                <div>
                  <a [routerLink]="['/user']" routerLinkActive="active">
                    <img class="img-thumbnail img-responsive" src="./uploads/forms/{{fetchedObj.design.mainPage._imgHome6[0].owner}}/{{fetchedObj.design.mainPage._imgHome6[0].imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                  </a>
                </div>
                <label>Client Directory</label>
                <div *ngIf="isAdmin()">
                  <input type="hidden" class="form-control"
                    name="_imgHome6" [(ngModel)]="fetchedObj.design.mainPage._imgHome6[0]._id"
                    #name="ngModel" required minlength="5">
                  <button type="button" md-button (click)="openDialog('_imgHome6')">Chose Media</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button *ngIf="isAdmin()" type="submit" class="btn btn-default">Submit</button> -->
  </form>

  <!-- <div *ngIf="isAdmin()" class="margin-20">
    <div>Form details:</div>
    <pre>Is form valid?: <br>{{f.valid | json}}</pre>
    <pre>Is form submitted?: <br>{{f.submitted | json}}</pre>
    <pre>form value: <br>{{f.value | json}}</pre>
  </div>
</div> -->
