<div class="container goldgradient beigeborder">
  <h3 class="topnav-ad">New! Curl Legend: Voluptuous, Silky and Bouncy Curls</h3>
  <a href="https://www.phyto.com/" class="btn shopbutton" target="_blank">SHOP NOW</a>
</div>

<div class="container beigeback">
  <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
    <div class="form-group">
      <div ngModelGroup="fetchedObj">
        <div ngModelGroup="design">
          <div ngModelGroup="mainPage">
            <div class="row">
              <div class="col-sm-6 boxpadding">
                <div class="homeimage">
                  <div *ngFor="let img of fetchedObj.design.mainPage._imgHome1">
                    <a [routerLink]="['/product']" routerLinkActive="active">
                      <img class="img-thumbnail img-responsive" src="./uploads/forms/{{img.owner}}/{{img.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                    </a>
                  </div>
                  <button *ngIf="isAdmin()" type="button" (click)="openDialog('_imgHome1')" class="editicon"><span class="glyphicon glyphicon-edit"></span></button>
                </div>
                <a [routerLink]="['/product']" routerLinkActive="active">
                  <label class="homelabel">Products</label>
                </a>
              </div>

              <div class="col-sm-6 boxpadding">
                <div class="homeimage">
                  <div *ngFor="let img of fetchedObj.design.mainPage._imgHome2">
                    <a [routerLink]="['/promotion']" routerLinkActive="active">
                      <img class="img-thumbnail img-responsive" src="./uploads/forms/{{img.owner}}/{{img.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                    </a>
                  </div>
                  <button *ngIf="isAdmin()" type="button" (click)="openDialog('_imgHome2')" class="editicon"><span class="glyphicon glyphicon-edit"></span></button>
                </div>
                <a [routerLink]="['/promotion']" routerLinkActive="active">
                  <label class="homelabel">Promotions</label>
                </a>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 boxpadding">
                <div class="homeimage">
                  <div *ngFor="let img of fetchedObj.design.mainPage._imgHome3">
                    <a [routerLink]="['/social']" routerLinkActive="active">
                      <img class="img-thumbnail img-responsive" src="./uploads/forms/{{img.owner}}/{{img.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                    </a>
                  </div>
                  <button *ngIf="isAdmin()" type="button" (click)="openDialog('_imgHome3')" class="editicon"><span class="glyphicon glyphicon-edit"></span></button>
                </div>
                <a [routerLink]="['/social']" routerLinkActive="active">
                  <label class="homelabel">Social</label>
                </a>
              </div>

              <div class="col-sm-6 boxpadding">
                <div class="homeimage">
                  <div *ngFor="let img of fetchedObj.design.mainPage._imgHome4">
                    <a [routerLink]="['/press']" routerLinkActive="active">
                      <img class="img-thumbnail img-responsive" src="./uploads/forms/{{img.owner}}/{{img.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                    </a>
                  </div>
                  <button *ngIf="isAdmin()" type="button" (click)="openDialog('_imgHome4')" class="editicon"><span class="glyphicon glyphicon-edit"></span></button>
                </div>
                <a [routerLink]="['/press']" routerLinkActive="active">
                  <label class="homelabel">Press
                    <div *ngIf="trackinPage.lastVisitPagePressCount">
                      {{trackinPage.lastVisitPagePressCount }}
                    </div>
                  </label>

                </a>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 boxpadding">
                <div class="homeimage">
                  <div *ngFor="let img of fetchedObj.design.mainPage._imgHome5">
                    <a [routerLink]="['/video']" routerLinkActive="active">
                      <img class="img-thumbnail img-responsive" src="./uploads/forms/{{img.owner}}/{{img.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                    </a>
                  </div>
                  <button *ngIf="isAdmin()" type="button" (click)="openDialog('_imgHome5')" class="editicon"><span class="glyphicon glyphicon-edit"></span></button>
                </div>
                <a [routerLink]="['/video']" routerLinkActive="active">
                  <label class="homelabel">Videos {{trackinPage.lastVisitPageVideoCount }} </label>
                </a>
              </div>

              <div class="col-sm-6 boxpadding">
                <div class="homeimage">
                  <div *ngFor="let img of fetchedObj.design.mainPage._imgHome6">
                    <a [routerLink]="['/user']" routerLinkActive="active">
                      <img class="img-thumbnail img-responsive" src="./uploads/forms/{{img.owner}}/{{img.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                    </a>
                  </div>
                  <button *ngIf="isAdmin()" type="button" (click)="openDialog('_imgHome6')" class="editicon"><span class="glyphicon glyphicon-edit"></span></button>
                </div>
                <a [routerLink]="['/user']" routerLinkActive="active">
                  <label class="homelabel">Clients</label>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
