a.shopbutton {
    box-shadow: none !important;
    border: 1px solid #0a2f87;
    color: #0a2f87 !important;
    font-weight: 600;
}
.homelabel {
    font-size: 23px;
    text-align: right !important;
    width: 100%;
    color: #0a2f87;
    padding: 4% 4% 4% 0;
    margin: 0 !important;
    background-color: #fff;
    font-weight: 100;
    cursor: pointer;
    display: inline-table;
}
.homeimage {
    max-height: 210px !important;
    overflow: hidden;
}
.homeimage img {
    padding: 0;
    border: none;
    border-radius: 0;
}
.boxpadding {
    padding: 1px !important;
}
.topnav-ad {
    text-align: center;
    margin: 19px auto;
}
.notif {
    background-color: #FB8417;
    float: right;
    padding: 2px 7.5px 0 !important;
    margin: 4px 15px;
    color: #fff;
    font-size: 16px;
    border-radius: 25px;
}
.edtttl-btn {
    background: none !important;
    border: none !important;
    color: #999999 !important;
    position: absolute;
    font-size: 16px;
    max-width: 75px !important;
    float: right;
    right: 5px;
    bottom: 18px;
}
.edtttl-txt {
  width: 550px;
  max-width: 100%;
}
.edtttl-ok {
  width: 90px;
  height: 40px;
  background-color: #0A2F87 !important;
  border: none !important;
  color: #ffffff !important;
  text-transform: uppercase !important;
}

@media screen and (min-width: 768px) {

.topnav-ad {
    width: 80%;
    float: left;
}
a.shopbutton {
    margin: 15px 0;
}
.edtttl-txt {
  margin: 5px 15px !important;
}
.edtttl-ok {
  margin: 10px 15px 0 0;
}
}

@media screen and (max-width: 767px) {

.topnav-ad {
    width: 90%;
}
a.shopbutton {
    width: 150px;
    margin: 15px auto;
    display: block;
}
}
