.topPad {
  padding-top: 100px !important;
}
.topMargin {
margin-top: 20px;
}
.img-resized {
  width: 10%;
}
h3.text-center {
    margin: 25px auto;
}
a.shopbutton {
    margin: 15px 0;
    box-shadow: none !important;
    border: 1px solid #0a2f87;
    color: #0a2f87 !important;
    font-weight: 600;
}
.topnav-ad {
    width: 80%;
    float: left;
    text-align: center;
}
.homelabel {
    font-size: 2em;
    text-align: right !important;
    width: 100%;
    color: #0a2f87;
    padding: 20px 5% 20px 0;
    margin: 0 !important;
    background-color: #fff;
}
.homeimage {
    max-height: 210px !important;
    overflow: hidden;
}
.homeimage img {
    padding: 0;
    border: none;
    border-radius: 0;
}
.boxpadding {
    padding: 1px !important;
}
