<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">My Salon</h3>
  </div>
  <div class="beigeback phyto-ctnr">
    <div class="sln-adrs">
      <!--id: {{fetchedCompanie._id}}</h4>-->
      <h3>Welcome to {{fetchedCompanie.name}}</h3>
      <h6>{{fetchedCompanie.address.address}}, {{fetchedCompanie.address.city}}, {{fetchedCompanie.address.state}} {{fetchedCompanie.address.zip}}</h6>
    </div>
    <div class="sln-sty phyto-ctnr">
      <div *ngFor="let user of fetchedCompanie._users" class="one-sty">
        <img
          class="img-responsive"
          src="./uploads/forms/{{user.profile._profilePicture.owner}}/{{user.profile._profilePicture.imagePath}}"
          onerror="this.src ='assets/images/no-image-found.jpg'"
        >
        <div class="sty-ttl">
          <label>{{ user.profile.name}}</label>
          <p>Add Stylist Title</p>
        </div>   
      </div>
    </div>
  </div>
  <!--forms-->
  <div class="img-row phyto-ctnr">
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)" class="img-frm phyto-ctnr">
      <div class="col-sm-3">
        <button type="button" md-button (click)="openDialog('img')" class="addpic-squr">Add Picture<br><i class="fa fa-plus"></i></button>
      </div>
      <div class="col-sm-9">
        <div formArrayName="forms" class="phyto-ctnr">
          <div *ngFor="let form of getObjects(myForm); let i=index" class="pic-list">
            <div [formGroupName]="i">
              <input type="hidden" class="form-control" formControlName="_id" [(ngModel)]="fetchedCompanie.forms[i]._id">
              <input type="hidden" class="form-control" formControlName="owner" [(ngModel)]="fetchedCompanie.forms[i].owner">
              <input type="hidden" class="form-control" formControlName="imagePath" [(ngModel)]="fetchedCompanie.forms[i].imagePath">
              <img width="150" src="./uploads/forms/{{fetchedCompanie.forms[i].owner}}/{{fetchedCompanie.forms[i].imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
              <span class="glyphicon glyphicon-remove pull-right  dlt-img"  (click)="removeForm(i)"></span>
            </div>
          </div>
        </div>
      </div>
      <div>
        <a class="seemre" href="#">See All</a>
        <!-- Here is what I have on video page
        <div *ngIf="fetchedUser.forms.length>maxPictureToShow">
        <a class="seemre" (click)="seeAllPicture()">See All</a>
        </div> -->
      </div>
    </form>
  </div>
  <!--forms-->
  <div class="beigeback phyto-ctnr">
    <div class="sln-inf">
      <h6> Your Phyto Sales Representative</h6>
      <p>John Doe</p>
      <p>515-885-9852</p>
      <p>john@ales-group.com</p>
    </div>
    <div class="sln-mng">
      <button class="delete"><a [routerLink]="['/companie/edit/' + fetchedCompanie._id]" routerLinkActive="active">Edit Salon Info</a></button>
      <button class="done"><a href="mailto:you@youraddress.com">Contact Sales</a></button>
    </div>
  </div>
</div>
