<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">My Salon</h3>
  </div>
  <div class="beigeback phyto-ctnr">

    <div class="sln-sty phyto-ctnr">
      <div *ngFor="let user of fetchedCompanie._users">
        <div *ngIf="user.role == 'client'" [routerLink]="['/user/profile/' + user._id]" routerLinkActive="active" class="one-sty">


          <div *ngFor="let parentUser of user.profile.parentUser">
            <!-- <div *ngIf="parentUser.role == 'stylist'"> -->
            <div>
              Stylist : {{parentUser.profile.name}}
            </div>
          </div>
          <div class="sty-ttl">
            <label>{{ user.profile.name}}</label>
            <p>{{ user.profile.title}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
