.sln-adrs, .sln-inf, .sln-mng {
  padding: 15px !important;
}
.sln-adrs {
  text-align: center;
}
.sln-mng {
  max-width: 220px;
}
.one-sty {
  float: left;
}
.one-stypic {
  height: 330px !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.one-sty img {
  flex: none;
  max-width: none;
}
.sty-ttl {
  padding: 15px;
  background-color: #ffffff;
}
.sty-ttl label {
  color: #0a2f87;
}
.sty-ttl p {
  color: #999999;
  font-size: 12px !important;
}
.delete {
  margin: 15px 0;
}
.delete a {
    color: inherit !important;
}
button.sln-styadd {
  width: 100% !important;
  padding: 20px;
  float: left;
  background-color: #0a2f87;
  color: #ffffff;
  margin: 2.5px 0;
  border: 1px dashed #ffffff;
  text-align: left;
}
.sln-styone {
    width: 100%;
    float: left;
    padding: 20px;
    background-color: #ffffff;
    margin: 2.5px 0;
    position: relative;
}
button.updn-btn {
    background-color: #0A2F87;
    border: none !important;
    margin-right: 15px;
    color: #ffffff;
    outline: none !important;
}
.sln-stymng {
    margin-bottom: 15px;
}
.dlt-sty {
    position: absolute;
    right: 0;
    top: 0;
    background: #333333;
    outline: none !important;
    border: none !important;
    color: #fff;
    padding: 2px 6px;
}

@media screen and (min-width: 768px) {

.sln-inffrm {
    width: 50%;
}
.one-sty {
    width: 33.333333% !important;
    padding: 0 0 5px 5px;
}
.one-sty img {
  width: auto !important;
  height: 100%;
}
.sln-inf {
  float:left;
}
.sln-mng, .done {
  float:right;
}
.sln-edt.done {
  float: left !important;
}
}

@media screen and (max-width: 767px) {

.one-sty {
    width: 100% !important;
    padding: 5px;
}
.one-sty img {
  width: 100% !important;
  height: auto;
}
}
