
<div class="container topPadTable">
  <h2 class="text-center">

  <button class="btn-default" (click)="goBack()"><i class="fa fa-arrow-left"></i></button>
  My Saloon
  <br><br>
  <a [routerLink]="['/companie/edit/' + fetchedCompanie._id]" routerLinkActive="active">Edit Salon Info</a>
  </h2>


  <hr>
  <h4>id: {{fetchedCompanie._id}}</h4>
  <h4>Name: {{fetchedCompanie.name}}</h4>
  <h4>address: {{fetchedCompanie.address.address}}</h4>
  <h4>city: {{fetchedCompanie.address.city}}</h4>
  <h4>state: {{fetchedCompanie.address.state}}</h4>
  <h4>zip: {{fetchedCompanie.address.zip}}</h4>

  <div *ngFor="let user of fetchedCompanie.users">
    <img class="img-thumbnail img-responsive" src="./uploads/forms/{{user._user.profile._profilePicture.owner}}/{{user._user.profile._profilePicture.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
    <br>
    {{user._user.profile.name}}
  </div>



      <!--forms-->
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
      <div formArrayName="forms">
        <div *ngFor="let form of getObjects(myForm); let i=index" class="panel panel-default">
          <div class="panel-heading">
            <span>Image {{i + 1}}</span>
            <span class="glyphicon glyphicon-remove pull-right"  (click)="removeForm(i)"></span>
          </div>
          <div class="panel-body" [formGroupName]="i">
            <input type="hidden" class="form-control" formControlName="_id" [(ngModel)]="fetchedCompanie.forms[i]._id">
            <input type="hidden" class="form-control" formControlName="owner" [(ngModel)]="fetchedCompanie.forms[i].owner">
            <input type="hidden" class="form-control" formControlName="imagePath" [(ngModel)]="fetchedCompanie.forms[i].imagePath">
            <img width="150" src="./uploads/forms/{{fetchedCompanie.forms[i].owner}}/{{fetchedCompanie.forms[i].imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
          </div>
        </div>
      </div>
      <div class="margin-20">
        <button type="button" md-button (click)="openDialog('img')">+ Media</button>
      </div>
    </form>
      <!--forms-->



</div>
