
<div class="container topPadTable">
  <h2 class="text-center">EDIT My Saloon

  <button class="btn-default" (click)="goBack()"><i class="fa fa-arrow-left"></i></button>


  </h2>

  <hr>
  <h4>id: {{fetchedCompanie._id}}</h4>


    <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
      <div class="form-group">
        <div ngModelGroup="fetchedCompanie">

          <label>Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            #name="ngModel"
            [(ngModel)]="fetchedCompanie.name"
            required
            minlength="5"
          >

          <div ngModelGroup="address">
                <label>address</label>
                <input
                  type="text"
                  class="form-control"
                  name="address"
                  #name="ngModel"
                  [(ngModel)]="fetchedCompanie.address.address"
                  required
                  minlength="5"
                >
                <small [hidden]="name.valid || (name.pristine && !f.submitted)" class="text-danger">
                      Name is required (minimum 5 characters).
                </small>
                <label>City</label>
                <input
                  type="text"
                  class="form-control"
                  name="city"
                  #name="ngModel"
                  [(ngModel)]="fetchedCompanie.address.city"
                  required
                  minlength="2"
                >
                <label>state</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  #name="ngModel"
                  [(ngModel)]="fetchedCompanie.address.state"
                  required
                  minlength="5"
                >
                <label>Zip</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  #name="ngModel"
                  [(ngModel)]="fetchedCompanie.address.zip"
                  required
                  minlength="5"
                >

          </div>
        </div>
      </div>
      <a [routerLink]="['/companie/edit/addUser/' + fetchedCompanie._id]"  routerLinkActive="active">Add New + </a>
      <li *ngFor="let user of fetchedCompanie.users">
        {{ user._user[0].email }}
      </li>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>

</div>
