<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">My Salon</h3>
  </div>
  <div class="beigeback single-wrpr">
    <h4 class="dspl-nn">id: {{fetchedCompanie._id}}</h4>
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(true)">
      <div *ngIf="isAdmin()" class="phyto-ctnr">
        <label>Type of Salon:</label> (Only choose HQ if you want to make this Salon an Admin salon)
        <div (click)="toggleTypeCompanie()">
          <div class="switch">Switch</div>
        </div>

      </div>
      <div *ngIf="isAdmin()">
        Type Salon:
        <div (click)="toggleTypeCompanie()">
          {{fetchedCompanie.typeCompanie}}
        </div>



         <md-slide-toggle
          ngDefaultControl
          (change)="onChange($event)"
          [checked]="slicerIsHQ"></md-slide-toggle>
          {{fetchedCompanie.typeCompanie}}



        <!-- <div style="padding: 4px 0;">{{fetchedCompanie.typeCompanie}}</div>   -->

      </div>
      <div class="single-wrpr phyto-ctnr" style="background-color: #ffffff;">
        <p>To edit the name and address of your salon, please log into your profile on</p>
        <a href="https://b2b-usa.alesgroupe.com/customer/account/login/" target="_blank">Our Professional Web Portal</a>
      </div>
      <div class="phyto-ctnr">
        <h4 style="margin-top:35px !important;">Manage Users:</h4>
        <div *ngIf="fetchedCompanie._id">
          <button type="button" [routerLink]="['/companie/edit/addUser/' + fetchedCompanie._id]" routerLinkActive="active" class="sln-styadd">Add New <i class="fa fa-plus"></i></button>
          <div *ngIf="isAdmin() || isManager() || isSalesRep()" class="sln-stymng phyto-ctnr">
            <p>Managers:</p>
            <div *ngFor="let user of userManagers; let i=index">
              <div class="sln-styone">
                <button type="button" (click)="move(i, -1, 'userManagers')" class="updn-btn"><i class="fa fa-chevron-up"></i></button>
                <button type="button" (click)="move(i, 1, 'userManagers')" class="updn-btn"><i class="fa fa-chevron-down"></i></button>
                {{ user.profile.name}}
                <button type="button" (click)="removeUserFromCompanie(i, 'userManagers')" class="dlt-sty"><i class="fa fa-times"></i></button>
              </div>
            </div>
          </div>
          <div class="sln-stymng phyto-ctnr">
            <p>Stylists:</p>
            <div *ngFor="let user of userStylists; let i=index">
              <div class="sln-styone">
                <button type="button" (click)="move(i, -1, 'userStylists')" class="updn-btn"><i class="fa fa-chevron-up"></i></button>
                <button type="button" (click)="move(i, 1, 'userStylists')" class="updn-btn"><i class="fa fa-chevron-down"></i></button>
                {{ user.profile.name}}
                <button type="button" (click)="removeUserFromCompanie(i, 'userStylists')" class="dlt-sty"><i class="fa fa-times"></i></button>
              </div>
            </div>
          </div>
          <div *ngIf="isAdmin()" class="sln-stymng phyto-ctnr">
            <p>SalesRep:</p>
            <div *ngFor="let user of usersSalesRep; let i=index">
              <div class="sln-styone">
                <button type="button" (click)="move(i, -1, 'users')" class="updn-btn"><i class="fa fa-chevron-up"></i></button>
                <button type="button" (click)="move(i, 1, 'users')" class="updn-btn"><i class="fa fa-chevron-down"></i></button>
                <p style="float:left;">{{ user.profile.name}}</p>
                <button type="button" (click)="removeUserFromCompanie(i, 'users')" class="dlt-sty"><i class="fa fa-times"></i></button>
                <div *ngIf="i==0" class="sales-star"><i class="fa fa-star"></i></div>
              </div>
            </div>
          </div>
          <div *ngIf="isHQcompanie()">
            <div *ngIf="isAdmin()" class="sln-stymng phyto-ctnr">
              <p>Admins:</p>
              <div *ngFor="let user of userAdmins; let i=index">
                <div class="sln-styone">
                  <button type="button" (click)="move(i, -1, 'userAdmins')" class="updn-btn"><i class="fa fa-chevron-up"></i></button>
                  <button type="button" (click)="move(i, 1, 'userAdmins')" class="updn-btn"><i class="fa fa-chevron-down"></i></button>
                  <p style="float:left;">{{ user.profile.name}}</p>
                  <button type="button" (click)="removeUserFromCompanie(i, 'userAdmins')" class="dlt-sty"><i class="fa fa-times"></i></button>
                  <div *ngIf="i==0" class="sales-star"><i class="fa fa-star"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="valid-edit">
        <button type="submit" class="sln-edt done">Done</button>
      </div>
    </form>
  </div>
</div>
