<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Social</h3>
  </div>
  <div class="crrt-win phyto-ctnr">
    <h3>Picture of the Week</h3>
    <div class="crrt-wincnt">
      <div class="beigeback">
        <img src="/assets/images/placeholderINSTA.png">
      </div>
      <button class="done" (click)="openDialog()">Submit your picture</button>
    </div>
  </div>
  <div class="beigeback phyto-ctnr prevwin">
    <h4>Winners from Previous Weeks</h4>
    <div>
      <!-- LightWidget WIDGET -->
      <script src="//lightwidget.com/widgets/lightwidget.js"></script>
      <iframe src="//lightwidget.com/widgets/1f36aa2416a15d81b7ccbefe72dcb07c.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0;"></iframe>
    </div>
    <a href="https://www.instagram.com/phytousa/" target="_blank" class="phyto-ctnr follow">
      <img src="/assets/images/instagram-icon.png">
      <p>Follow @phytousa on Instagram for more updates!</p>
    </a>
  </div>
</div>
