.crrt-win {
    padding: 15px;
}
.crrt-win h3 {
    text-align: center;
}
.crrt-wincnt {
    max-width: 250px;
    margin: 0 auto;
    padding: 10px 10px 5px;
}
.crrt-winpic {
    padding: 15px 0 0 16px;
    height: 224px;
}
.done {
    width: 100%;
    margin: 15px 0;
    padding: 15px !important;
}
.prevwin {
    padding: 15px;
}
a.follow {
    margin-top: 15px;
}
.follow p {
    color: indianred;
    float: left;
    max-width: 75%;
}
.follow img {
    width: 50px;
    float: left;
}

/*--Insta Popup--*/

.mat-dialog-container {
  padding: 0 !important;
  overflow: visible !important;
}
.cls-btn {
  float: right;
  min-width: 0 !important;
  padding: 0 !important;
}
.close-sub {
  margin: -5px;
  padding: 8px 10px;
  color: #0A2F87;
  background-color: #fff;
  border-radius: 25px;
}
.getfeat {
  padding: 25px;
  width: 350px;
  max-width: 100%;
  text-align: center;
}
.steps {
  background-color: #ffffff;
  padding: 0 20px 20px;
  margin: 20px 0;
  color: #999999;
}
.steps label {
  width: 100%;
  margin-top: 20px;
  color: #0a2f87;
}

/*--Responsive--*/

@media screen and (min-width: 494px) {

.follow p {
    margin: 15px 0;
}
}

@media screen and (max-width: 493px) {

.follow p {
    margin: 5px;
}
}

@media screen and (min-width: 746px) {
.prevwin-pics {
    height: 350px;
}
}

@media screen and (min-width: 572px) and (max-width: 745px) {
.prevwin-pics {
    height: 440px;
}
}

@media screen and (min-width: 381px) and (max-width: 571px) {
.prevwin-pics {
    height: 700px;
}
}

@media screen and (max-width: 380px) {
.prevwin-pics {
    height: 1400px;
}
}
