.crrt-win {
    padding: 15px;
}
.crrt-win h3 {
    text-align: center;
}
.crrt-wincnt {
    max-width: 250px;
    margin: 0 auto;
    padding: 10px 10px 5px;
}
.crrt-winpic {
    padding: 15px;
    height: 224px;
}
.done {
    width: 100%;
    margin: 15px 0;
    padding: 15px !important;
}
.prevwin {
    padding: 15px;
}
a.follow {
    margin-top: 15px;
}
.follow p {
    color: indianred;
    float: left;
    max-width: 75%;
}
.follow img {
    width: 50px;
    float: left;
}

/*--Responsive--*/

@media screen and (min-width: 494px) {

.follow p {
    margin: 15px 0;
}
}

@media screen and (max-width: 493px) {

.follow p {
    margin: 5px;
}
}

@media screen and (min-width: 801px) {

.prevwin-pics {
    height: 365px;
}
}

@media screen and (min-width: 661px) and (max-width: 800px) {

.prevwin-pics {
    height: 300px;
}
}

@media screen and (min-width: 541px) and (max-width: 660px) {

.prevwin-pics {
    height: 250px;
}
}

@media screen and (min-width: 401px) and (max-width: 540px) {

.prevwin-pics {
    height: 200px;
}
}

@media screen and (max-width: 400px) {

.prevwin-pics {
    height: 150px;
}
}
