<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Social</h3>
  </div>
  <div class="crrt-win phyto-ctnr">
    <h3>Picture of the Week</h3>
    <div class="crrt-wincnt">
      <div class="beigeback">
        <img src="/assets/images/placeholderINSTA.png">
      </div>
      <button class="done" (click)="openDialog()">Submit your picture</button>
    </div>
  </div>
  <div class="beigeback phyto-ctnr prevwin">
    <h3>Winners from Previous Weeks</h3>
    <div>INSTAGRAM SCRIPT</div>
    <a href="https://www.instagram.com/phytousa/" target="_blank" class="phyto-ctnr follow">
      <img src="/assets/images/instagram-icon.png">
      <p>Follow @phytousa on Instagram for more updates!</p>
    </a>
  </div>
</div>
