<button class="cls-btn" type="button" (click)="dialogRefDelete.close('')"><i class="close-sub fa fa-times pull-right"></i></button>
<div class="getfeat beigeback">
  <h3>Ready to get featured?</h3>
  <p>You may be next week’s pick! Here is how to participate:</p>
  <div class="steps">
    <label>Step 1</label>
    Open your Phyto picture on Instagram
    <label>Step 2</label>
    Tag @phytousa and #PhytoPOTWin the description
    <label>Step 3</label>
    Share!
  </div>
  <p>Come back here next week to see if your picture was selected. Good luck!</p>
  <a class="done" href="http://www.instagram.com" target="_blank">Open Instagram</a>
</div>
