<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Press</h3>
  </div>
  <div class="single-wrpr beigeback">
    <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
      <input type="hidden" class="form-control" formControlName="_id" [(ngModel)]="fetchedPress._id">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="title" [(ngModel)]="fetchedPress.title" placeholder="Title">
        <div class="form-group">
          <label>Add Link to the Article</label>
          <input type="text" class="form-control" formControlName="link" [(ngModel)]="fetchedPress.link">
        </div>
      </div>
      <div class="form-group upld-pdf">
        <div>
          <label class="phyto-ctnr">Or Upload a PDF Version</label>
          <button type="button" md-button (click)="openDialog('formPDF')">Upload</button>
        </div>

        <div *ngFor="let singleFormPDF of fetchedPress.formPDF; let i =index" class="tagz">
           <span class="tagz-name">{{singleFormPDF.imagePath}}</span>
           <i (click)="removePDF(i)" class="tagz-icn fa fa-times pull-right"></i>
          <!--< width="150" src="./uploads/forms/{{singleFormPDF.owner}}/{{singleFormPDF.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">-->
        </div>
      </div>
      <div class="form-group prss-img phyto-ctnr">
        <label>Add Picture to be displayed on Press page</label>
        <div *ngFor="let singleForm of fetchedPress.form">
          <img width="150" src="./uploads/forms/{{singleForm.owner}}/{{singleForm.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
        </div>
        <div>
          <button type="button" md-button (click)="openDialog('form')" class="addpic-squr">Add Picture<br><i class="fa fa-plus"></i></button>
        </div>
      </div>
      <div class="valid-edit">
        <button type="submit" [disabled]="!myForm.valid" [ngClass]="{'done':myForm.valid,'pas-done':!myForm.valid}">Done</button>
        <button *ngIf="fetchedPress._id" type="button" class="delete" (click)="openDialogDelete()">Delete</button>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
