<div class="container beigeback">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Show your clients and print the latest press mentions!</h3>
    <button *ngIf="isAdmin()" class="subnav-btnright" [routerLink]="['/press/pressSingle']" routerLinkActive="active"><i class="fa fa-plus"></i></button>
  </div>
  <table class="table table-hover table-responsive table-condensed prss-tbl">
    <tbody>
      <tr *ngFor="let press of fetchedPresses" class="prss-ctnr">
        <td class="prss-cnt">
          <div class="prss-wrpr">
            <button *ngIf="isAdmin()" class="editicon" [routerLink]="['/press/pressSingle/' + press._id]" routerLinkActive="active"><span class="glyphicon glyphicon-edit"></span></button>
            <div *ngIf="press.isNewObj" class="new-ntf">NEW!</div>
            <div *ngFor="let form of press.form" class="img-wrpr">

<!--
              <div *ngIf="+ press.formPDF.length">
                <img
                  (click)="openPictureDialog(form)"
                  class="img-responsive"
                  src="./uploads/forms/{{form.owner}}/{{form.imagePath}}"
                  onerror="this.src ='assets/images/no-image-found.jpg'"
                >
              </div>

                             -->
              <a
                *ngIf="+ press.formPDF.length"
                href="./uploads/forms/{{press.formPDF[0].owner}}/{{press.formPDF[0].imagePath}}"
                target="_blank">
                <img class="img-responsive" src="./uploads/forms/{{form.owner}}/{{form.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
              </a>
              <a
                *ngIf="!press.formPDF.length"
                href="{{press.link}}"
                target="_blank">
                <img class="img-responsive" src="./uploads/forms/{{form.owner}}/{{form.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
              </a>
            </div>
            <div class="prssttl-wrpr">
              <p class="prss-ttl">
                <a
                  *ngIf="+ press.formPDF.length"
                  href="./uploads/forms/{{press.formPDF[0].owner}}/{{press.formPDF[0].imagePath}}"
                  target="_blank">
                  {{press.title}}
                </a>
                <a
                  *ngIf="!press.formPDF.length"
                  href="{{press.link}}"
                  target="_blank">
                  {{press.title}}
                </a>
              </p>
            </div>
          </div>
        </td>
        <!-- <td>{{press._id }}</td> -->
        <td class="dspl-nn"><a [routerLink]="['/press/' + press._id]" routerLinkActive="active">{{press.email}}</a></td>
      </tr>
    </tbody>
  </table>
    <div>
      <div [ngClass]="{ 'hidden': !loading }">Loading...</div>
      <button
        *ngIf="paginationData.currentPage * paginationData.itemsPerPage < paginationData.totalItems"
        type="button" (click)="loadMore()" class="ldmre">
        Load More
      </button>
    </div>
</div>
