
<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Videos</h3>
  <div/>
  <div class="single-wrpr beigeback">
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value)" (keydown.enter)="$event.preventDefault()">
      <input type="hidden" class="form-control" formControlName="_id" [(ngModel)]="fetchedVideo._id">
      <div class="form-group">
        <iframe [src]="fetchedVideo.embedSecure" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>
        <label class="vid-lableft">Insert Wistia Embed Code Below:</label>
        <p class="vid-labright">Where to Find the Wistia Embed Code</p>
        <input type="text" class="form-control" formControlName="embed" [(ngModel)]="fetchedVideo.embed">
        <input type="text" class="form-control" formControlName="title" placeholder="Add Video Title" [(ngModel)]="fetchedVideo.title">
        <div class="lft-form">
          <md-input-container>
            <input
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="inputCategorie"
              placeholder="Categories"
              (keyup.enter)="addCategorieInput()"
              mdInput>
          </md-input-container>
          <div *ngFor="let categorieHard of categoriesHard2; let i=index">
            <md-checkbox
              (click)="togglCategorieButton(categorieHard.name)"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="categoriesHard2[i].selected">
            </md-checkbox>
            {{categorieHard.name}}
          </div>
          <div *ngFor="let categorieHard of categoriesHard1; let i=index">
            <md-checkbox
              (click)="togglCategorieButton(categorieHard.name)"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="categoriesHard1[i].selected">
            </md-checkbox>
          {{categorieHard.name}}
          </div>
        </div>
        <div class="rght-form">
          <div formArrayName="categories">
            <div *ngFor="let categorie of getObjects(myForm); let i=index" class="panel panel-default">
              <div class="panel-heading" [formGroupName]="i">
                <span>{{fetchedVideo.categories[i].name}}</span>
                <span class="glyphicon glyphicon-remove pull-right"  (click)="removeCategorie(i)"></span>
                <input type="hidden" class="form-control" formControlName="name" [(ngModel)]="fetchedVideo.categories[i].name">
              </div>
            </div>
          </div>
        </div>
        <div class="margin-20">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>
