<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Add/Edit Video</h3>
  </div>
  <div class="single-wrpr beigeback">
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value)" (keydown.enter)="$event.preventDefault()">
      <input type="hidden" class="form-control" formControlName="_id" [(ngModel)]="fetchedVideo._id">
      <div class="form-group">
        <iframe [src]="fetchedVideo.embedSecure" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>
        <label class="vid-lableft">Insert Wistia Embed Code Below:</label>
        <a class="seemre">Where to Find the Wistia Embed Code</a>
        <input type="text" class="form-control" formControlName="embed" [(ngModel)]="fetchedVideo.embed">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="title" placeholder="Add Video Title" [(ngModel)]="fetchedVideo.title">
      </div>
      <div class="lft-form">
        <label>Select Categories For This Video:</label>
        <div *ngFor="let categorieHard of categoriesHard2; let i=index">
          <md-checkbox
            (click)="togglCategorieButton(categorieHard.name)"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="categoriesHard2[i].selected"
          ></md-checkbox>
          {{categorieHard.name}}
        </div>
        <label>Select Product Line For This Video:</label>
        <div *ngFor="let categorieHard of categoriesHard1; let i=index">
          <md-checkbox
            (click)="togglCategorieButton(categorieHard.name)"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="categoriesHard1[i].selected"
          ></md-checkbox>
          {{categorieHard.name}}
        </div>
      </div>
      <div class="rght-form">
        <input
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="inputCategorie"
          placeholder="Add Tags to Video"
          (keyup.enter)="addCategorieInput()"
          mdInput
        >
        <div formArrayName="categories">
          <div *ngFor="let categorie of getObjects(myForm); let i=index" class="tagz">
            <div class="tagz-cnt" [formGroupName]="i">
              <span class="tagz-name">{{fetchedVideo.categories[i].name}}</span>
              <i class="tagz-icn fa fa-times pull-right" (click)="removeCategorie(i)"></i>
              <input type="hidden" class="form-control" formControlName="name" [(ngModel)]="fetchedVideo.categories[i].name">
            </div>
          </div>
        </div>
      </div>
    <div class="valid-edit">
      <button type="submit" class="done" [disabled]="!myForm.valid">Done</button>
      <button type="submit" class="delete" [disabled]="!myForm.valid">Delete Video</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
