.vid-tabs .mat-tab-label {
  text-transform: uppercase!important;
  color: #010870 !important;
  font-size: 13px !important;
  font-family: inherit !important;
  padding: 25px 20px !important;
  opacity: 1 !important;
  height: 60px !important;
  line-height: 1 !important;
  background-color: #efe9df !important;
}
.vid-tabs .mat-tab-label-active {
  background-color: #ffffff !important;
}
.vid-tabs .mat-tab-header, .vid-tabs .mat-tab-nav-bar {
  border: none !important;
}
.vid-tabs .mat-tab-labels {
    background-color: #efe9df !important;
}
.vid-tabs .mat-tab-label:hover, .vid-tabs .mat-tab-label:active, .vid-tabs .mat-tab-label:focus {
  background-color: #ffffff !important;
}
.vid-tabs .mat-ink-bar {
    display: none !important;
}
.subsubnav-video {
  padding: 0 15px;
}
.video-srchrow {
    height: 75px;
}
.srchbar {
    padding: 15px 0 !important;
}
.cat-btn, .cat-btn-on {
    border: none;
    outline: none !important;
    text-transform: uppercase;
    padding: 5px 15px 5px;
    border-radius: 14px;
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 13px;
    float: left !important;
}
.cat-btn {
    background-color: #ffffff;
    color: #0a2f87;
}
.cat-btn-on {
    background-color: #0a2f87 !important;
    color: #ffffff !important;
}
.video-catrow {
    padding: 15px 0;
    max-width: 100% !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
}
.vid-tbl {
    margin: 0 !important;
}
.vid-cnt {
    padding-bottom: 30px !important;
}
.vid-ctnr:hover {
    background: none !important;
}
.vid-cnt .editicon {
    padding-top: 10px !important;
}
.lft-form, .rght-form {
    margin-bottom: 15px;
}
.tagz {
  display: block;
  float: left;
  margin: 10px 0 !important;
}
.tagz-cnt {
  display: inline-block;
}
.tagz-name {
    padding: 10px 15px;
    border: 1px solid #cccccc;
    margin-right: -15px;
}
.tagz-icn {
    background-color: #000;
    color: #fff;
    padding: 3px 4px 4px 5px;
    border-radius: 18px;
    position: relative;
    margin-top: -20px;
    margin-right: 15px;
}
.lng-form {
    margin-bottom: 15px !important;
}
.whrto {
  padding: 25px !important;
  width: 400px !important;
  max-width: 100% !important;
  background-color: #ffffff !important;
}
.whrto img {
    padding: 5px 0 15px;
}
.ttl-cde input {
    max-width: none !important;
}

@media screen and (min-width: 768px) {
  
.vid-cnt {
    width: 100%;
    float: left;
}
.vid-ctnr, .lft-form, .rght-form, label.vid-lableft {
    width: 50%;
    float: left;
}
}

@media screen and (max-width: 767px) {

.vid-ctnr, .vid-cnt {
  float: left;
  width: 100%;
}
label.vid-lableft {
  display: block;
}
.vid-tabs .mat-tab-labels {
  display: block !important;
}
.vid-tabs .mat-tab-label {
  width: 50%;
  float: left;
}
}
