.subsubnav-video {
  padding: 0 15px;
}
.video-srchrow {
    height: 75px;
}
.srchbar {
    background-color: #ffffff;
    padding: 10px;
    width: 200px;
    float: left;
    margin: 15px 0;
    border: 1px solid #cccccc;
}
.srchbar .mat-input-wrapper {
    margin: 0 !important;
    padding: 0 !important;
}
.srchbar .mat-input-underline {
    display: none !important;
}
.cat-btn {
    background-color: #ffffff;
    color: #0a2f87;
    border: none;
    outline: none !important;
    text-transform: uppercase;
    padding: 5px 15px 5px;
    border-radius: 14px;
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 13px;
    float: left !important;
}
.cat-btn.btn-danger:focus, .cat-btn.btn-default:active, .cat-btn.btn-default:hover, .cat-btn.btn-danger:hover {
    background-color: #0a2f87 !important;
    color: #ffffff;
}
.video-catrow {
    padding: 15px 0;
    max-width: 100% !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
}
