<button class="cls-btn" type="button" (click)="dialogRefDelete.close('')"><i class="close-sub fa fa-times pull-right"></i></button>
<div class="whrto">
    <p><a href="https://secure.wistia.com/login" target="_blank">- Log Into your Wistia Account</a></p>
    <p>- Click on the video you want to select</p>
    <p>- Go to the URL at the top of the video page</p>
    <p>- Copy the characters located after "medias/"</p>
    <img src="assets/images/wistia-url-ID.png"/>
    <p>- Paste these characters in the Wistia ID field</p>
</div>
