.mat-tab-label {
  text-transform: uppercase!important;
  color: #010870 !important;
  font-size: 13px !important;
  font-family: inherit !important;
  padding: 25px 20px !important;
  opacity: 1 !important;
  height: 60px !important;
  line-height: 1 !important;
  min-width: auto !important;
}
.mat-tab-label:hover, .mat-tab-label:active, .mat-tab-label:focus {
  background-color: #010870 !important;
  color: #ffffff !important;
}
.mat-ink-bar {
  display: none !important;
}

.subsubnav-video {
  padding: 0 15px;
}
.video-srchrow {
    height: 75px;
}
.srchbar {
    padding: 15px 0 !important;
}
.cat-btn {
    background-color: #ffffff;
    color: #0a2f87;
    border: none;
    outline: none !important;
    text-transform: uppercase;
    padding: 5px 15px 5px;
    border-radius: 14px;
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 13px;
    float: left !important;
}
.cat-btn.btn-danger:focus, .cat-btn.btn-default:active, .cat-btn.btn-default:hover, .cat-btn.btn-danger:hover {
    background-color: #0a2f87 !important;
    color: #ffffff;
}
.video-catrow {
    padding: 15px 0;
    max-width: 100% !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
}
.vid-tbl {
    margin: 0 !important;
}
.vid-cnt {
    padding-bottom: 30px !important;
}
.vid-ctnr:hover {
    background: none !important;
}

@media screen and (min-width: 768px) {
  
.vid-ctnr {
    float: left;
    width: 50%;
}
.vid-cnt {
    width: 100%;
    float: left;
}
}

@media screen and (max-width: 767px) {

.vid-ctnr {
    float: left;
    width: 100%;
}
.vid-cnt {
    width: 100%;
    float: left;
}
}
