<button class="cls-btn" type="button" (click)="dialogRefDelete.close('')"><i class="close-sub fa fa-times pull-right"></i></button>
<div class="whrto">
    <p><a href="https://vimeo.com/log_in" target="_blank">- Log Into your Vimeo Account</a></p>
    <p>- Find your video and click on its title</p>
    <p>- Go to the URL at the top of the video page</p>
    <p>- Copy the characters located after "/"</p>
    <img src="assets/images/vimeo_code.png"/>
    <p>- Paste these characters in the Vimeo ID field</p>
</div>
