
<div class="container topPadTable">
  <h2 class="text-center">
  <button class="btn-default" (click)="goBack()"><i class="fa fa-arrow-left"></i></button>
  Videos
  <button class="btn-default" [routerLink]="['/video/videoSingle']" routerLinkActive="active"><i class="fa fa-plus-circle"></i></button>

  </h2>

  <md-tab-group (selectChange)="onSelectChange($event)">
    <md-tab label="whatsnew" label="what's new"></md-tab>
    <md-tab label="treatments" label="treatments"></md-tab>
    <md-tab label="knowledges" label="knowledges"></md-tab>
    <md-tab label="testimonials" label="testimonials"></md-tab>
    <md-tab label="merchandising" label="merchandising"></md-tab>
    <md-tab label="promotions" label="promotions"></md-tab>
  </md-tab-group>

  <table class="table table-hover table-responsive table-condensed">
    <tbody>
      <tr *ngFor="let video of fetchedVideos | paginate: { id: 'server', itemsPerPage: paginationData.itemsPerPage, currentPage: paginationData.currentPage, totalItems: paginationData.totalItems }">
        <td class="img-resized">
          <iframe [src]="video['[object Object]'].embedSecure" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>

        </td>
        <!-- <td>{{video._id }}</td> -->
        <td><a [routerLink]="['/video/' + video['[object Object]']._id]" routerLinkActive="active">{{video.email}}</a></td>

        <td>
          <button class="btn-default" [routerLink]="['/video/videoSingle/' + video['[object Object]']._id]" routerLinkActive="active"><i class="fa fa-pencil"></i></button>
        </td>
        <td>
          <button class="btn-danger" (click)="onDelete(video['[object Object]']._id)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="has-text-centered">
      <div class="spinner" [ngClass]="{ 'hidden': !loading }">Loading...</div>
      <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
  </div>

</div>
