<div class="container topPad">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="register-form form" novalidate>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
      <input #userEmail type="text" formControlName="email" placeholder="Email" class="form-control">
    </div>
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Please enter a valid email format</div>
    <span class="help-block"></span>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
      <input type="password" formControlName="password" placeholder="Password" class="form-control">
    </div>
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password must contain 6 or more characters</div>
    <br>

    <div formGroupName="profile">
      <input #name type="text" formControlName="name" placeholder="Name" class="form-control">
      <input #lastName type="text" formControlName="lastName" placeholder="lastName" class="form-control">
      <input #title type="text" formControlName="title" placeholder="title" class="form-control">
    </div>



    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!myForm.valid">Register</button>
  </form>
</div>
