.prf-cpt {
  padding: 15px;
  background-color: #231f20;
  color: #ffffff;
  position: relative;
}
.prf-chal {
    position: relative;
}
.prf-cpt .editicon {
    right: 3px !important;
    top: 0 !important;
    left: inherit !important;
    background: none !important;
    outline: none !important;
    height: 100%;
    padding: 15px !important;
}
.prf-cpt p {
    margin-bottom: 0 !important;
}
.prf-basic{
    position: relative;
}
.prf-basic img {
    width: 100%;
}
.chal-rslt {
  bottom: 0;
  height: 75px;
  background-color: #231f20;
  width: 100%;
  padding: 15px;
  color: #fff;
}
.act-chal {
  padding: 15px;
}
.insta-promo {
  padding: 30px 15px;
  background-image: url(/assets/images/instabackdarker.png);
  background-size: cover;
}
.insta-pic {   
  padding: 10px;
}
.see, .submit {
  padding: 12px 15px;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  min-width: 250px;
}
.see {
    background: none !important;
}
.see a {
  color: #fff !important;
}
.submit {
    color: #0a2f87;
    background-color: #fff;
}
.insta-txt {
  color: #fff;
  float: left;
}
.insta-txt p {
    margin-bottom: 25px;
}
.insta-txt h3 {
    color: #fff;
}
.updt-prof {
    position: absolute;
    padding: 15px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    min-height: 315px;
}
.chng-picframe {
    max-height: 120px;
    overflow: hidden;
    float: left;
    margin: 0 15px 12px 0;
}
.chng-pic img {
    float: left;
}
.browse {
    font-family: inherit !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
    border: 1px solid !important;
    color: #0A2F87 !important;
    margin-bottom: 15px;
}
.ovrl {
    background-color: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 50;
    opacity: 0.5;
}

@media screen and (min-width: 768px) {
  
#stypro {
    display: table;
    padding: 2.5px;
}
.chng-picframe {
    width: 40%;
}
.prf-frame {
    min-height: 250px;
    max-height: 300px;
    overflow: hidden;
}
.prf-basic, .prf-chal {
  display: table-cell;
  float: none;
}
.prf-basic {
  padding: 0 2.5px 0 0;
  width: 33.333333%;
}
.prf-chal {
  vertical-align: top;
  width: 66.666666%;
  background-color: #fff;
}
.chal-rslt {
  position: absolute;
}
.see, .submit {
  float: left;
}
.see {
    margin-right: 15px;
}
.insta-pic {
  width: 170px;
}
.insta-txt {
  padding: 0 15px;
  max-width:76%;
}
.insta-txt h3 {
    margin: 0 0 20px;
}
}

@media screen and (max-width: 767px) {
  
.prf-basic, .prf-chal {
  float: left;
  width: 100%;  
}
.prf-basic {
  padding: 0 5px 5px;
}
.prf-chalcnt {
    position: relative;
    margin: 5px;
    background-color: #fff;
}
.chng-picframe {
    width: 35%;
}
.insta-pic {
  width: 100%;
}
.insta-txt h3 {
    margin: 20px 0;
}
.see, .submit {
  margin: 15px 0;
}
}
