<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Profile</h3>
  </div>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save()" style="position: relative;">
    <div *ngIf="isEditMode" class="ovrl"></div>
    <div class="beigeback phyto-ctnr" id="stypro">
      <div class="prf-basic">
        <div formGroupName="profile" style="position: relative;">
          <div *ngIf="isEditMode" class="beigeback updt-prof">
            <div class="chng-pic">
              <div formGroupName="_profilePicture">
               <img *ngIf="fetchedUser.profile._profilePicture.length == 0" src="assets/images/profilePicture.jpg" >
                <div *ngFor="let profilePicture of fetchedUser.profile._profilePicture">
                  <input type="hidden" class="form-control" formControlName="_id" [(ngModel)]="profilePicture._id">
                  <img src="./uploads/forms/{{profilePicture.owner}}/{{profilePicture.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                </div>
              </div>
              <p>Change Profile picture</p>
              <button type="button" md-button (click)="openDialog('_profilePicture')" class="browse">Browse</button>
            </div>
            <input type="text" class="form-control" formControlName="name" [(ngModel)]="fetchedUser.profile.name" placeholder="Name">
            <input type="text" class="form-control" formControlName="lastName" [(ngModel)]="fetchedUser.profile.lastName" placeholder="lastName">
            <input type="text" class="form-control" formControlName="title" [(ngModel)]="fetchedUser.profile.title" placeholder="Title">
            <button type="submit" class="done">Done</button>
          </div>
          <div formGroupName="_profilePicture">
            <img *ngIf="fetchedUser.profile._profilePicture.length == 0" src="assets/images/profilePicture.jpg" >
            <div *ngFor="let profilePicture of fetchedUser.profile._profilePicture">
              <input type="hidden" class="form-control" formControlName="_id" [(ngModel)]="profilePicture._id">
              <img src="./uploads/forms/{{profilePicture.owner}}/{{profilePicture.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
            </div>
            <div class="prf-cpt">
              <label>{{fetchedUser.profile.name}} {{fetchedUser.profile.lastName}}</label>
              <p>{{fetchedUser.profile.title}}</p>
              <button *ngIf="!isEditMode" type="button" md-button (click)="editMode()" class="editicon">
                <span class="glyphicon glyphicon-edit"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
