.sidenav-content {
    height: 100% !important;
}
.sidenav-title {
    min-height: 55px;
    padding: 0 20px;
    display: block;
    margin-bottom: 10px;
}
.sidenav-title h3 {
    float: left;
    margin-top: 20px !important;
}
.cross {
    float: right;
    padding: 15px 15px 0;
    font-size: 40px;
    font-family: inherit !important;
    min-width: auto !important;
    color: #0a2f87;
    background: none;
    border: none !important;
    line-height: 1;
    margin: 6px 0 0 25px;
    outline: none !important;
}
ul.sidenav-list {
    padding: 0;
}
.sidenav-list li {
    display: block;
    background-color: #efe9df;
    margin: 1px 0;
}
.sidenav-list li a, .adminmenu {
  padding: 20px;
  cursor: pointer;
}
.sidenav-list li a {
  display: block;
  color: #231f20;
}
.adminmenu {
  background-color: #999999 !important;
  color: #ffffff;
  margin-bottom: -1px !important;
}
.adminmenu .fa-chevron-down {
    float: right;
    color: #ffffff;
}
.admin-opn {
  height: 243px;
  margin-top: 2px;
}
.admin-cls {
  height: 0;
  display:none;
}
a.admn-btn {
    background-color: #cccccc !important;
}
.sidenav-list li:hover, .phyto-sidenav li:active {
    opacity: 0.8;
}
.sidenav-footer {
    padding: 0 20px;
}
.sidenav-footer p, .sidenav-footer p a {
    color: #999999;
    font-size: 10px;
}

@media screen and (min-width: 768px) {

.sidenav-content {
  margin-top: 70px;
}
}

@media screen and (max-width: 767px) {

.sidenav-content {
  margin-top: 50px;
}
}
