.phytologo img {
  padding: 10px 15px;
}
.phytologo {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  max-width: 950px;
  top: 0;
}
.hamburger {
  float: right;
  font-size: 20px;
  color: #0a2f87;
}

@media screen and (min-width: 950px) {
.phytologo {
    left: 50%;
    margin-left: -475px;
}
}

@media screen and (min-width: 768px) {

.phytologo, .phytologo img {
  height: 70px!important;
}
.hamburger {
  padding: 25px;
}
}

@media screen and (max-width: 767px) {

.phytologo, .phytologo img {
  height: 50px!important;
}
.hamburger {
  padding: 15px;
}
}
