<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Users</h3>
  </div>
  <div class="subsubnav-clients">
    <input type="text" name="Search" placeholder="Search" [(ngModel)]="search.search" (ngModelChange)="searchInput()">
  </div>
  <md-tab-group (selectChange)="onSelectChange($event)" class="beigeback admin-users">
    <md-tab label="admin">
    </md-tab>
    <md-tab label="salesRep">
    </md-tab>
    <md-tab label="stylist">
    </md-tab>
    <md-tab label="manager">  
    </md-tab>
  </md-tab-group>
  <div class="beigeback">
    <table class="table table-hover table-responsive table-condensed">
      <thead>
      <tr>
        <th class="tbl-left">
          <p class="tblnav-cl">Name</p>
          <button class="updownbtn" (click)="orderBy('profile.name')"><i class="fa fa-chevron-down"></i></button>
          <button class="updownbtn" (click)="orderBy('-profile.name')"><i class="fa fa-chevron-up"></i></button>
        </th>
      </tr>
      </thead>
      <tbody class="clienttbl">
      <tr *ngFor="let user of fetchedUsers | paginate: { id: 'server', itemsPerPage: paginationData.itemsPerPage, currentPage: paginationData.currentPage, totalItems: paginationData.totalItems }" [routerLink]="['/user/profile/' + user._id]" routerLinkActive="active">
        <td>{{user.profile.name }}</td>
      </tr>
      </tbody>
    </table>
    <div class="has-text-centered">
        <div class="spinner" [ngClass]="{ 'hidden': !loading }">Loading...</div>
        <pagination-controls (pageChange)="getPage($event)" id="server" class="change-page"></pagination-controls>
    </div>
  </div>
</div>
