<div class="sidenav-content">
  <div class="sidenav-title">
    <h3>My Chair App</h3>
    <button class="cross">&#735;</button>
  </div>
  <div class="sidenav-menu">
    <ul class="sidenav-list">
      <li><a href="#">My Salon</a></li>
      <li><a href="#">My Account Settings</a></li>
      <li><a href="#">Manage Pictures</a></li>
      <li><a href="#" (click)="logout()" *ngIf="isLoggedIn()">Log out</a></li>
    </ul>
  </div>
  <div class="sidenav-footer">
    <p><a href="#">Terms and Conditions</a> - <a href="#">Privacy Policy</a></p>
    <p>© 2017 - Ales Group USA</p>
</div>
