.phyto-sidenav {
    box-shadow: none !important;
    height: 100vh !important;
}
.sidenav-content {
    height: 100% !important;
}
.sidenav-title {
    min-height: 55px;
    padding: 0 20px;
}
.cross {
    float: right;
    padding: 15px 15px 0;
    font-size: 40px;
    font-family: inherit !important;
    min-width: auto !important;
    color: #0a2f87;
    background: none;
    border: none;
    line-height: 1;
    margin: 6px 0 0 25px;
}
ul.sidenav-list {
    padding: 0;
}
.sidenav-list li {
    display: block;
    padding: 20px;
    background-color: #efe9df;
}
.sidenav-list li a {
    color: #231f20;
}
.sidenav-list li:hover, .phyto-sidenav li:active {
    opacity: 0.8;
}
.sidenav-footer {
    position: absolute;
    bottom: 0;
    padding: 0 20px;
}
.sidenav-footer p, .sidenav-footer p a {
    color: #999999;
    font-size: 10px;
}
