<div class="media-mod">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="imgupl-mod" novalidate>
    <fieldset>
      <div class="form-group">
        <div class="cho-fil">
          <button type="button">
            <input #fileInput name="fileUp" type="file" (change)="onFileSelect($event)">
          </button>
          <div *ngIf="hasFiles()">
            <div *ngFor="let file of files">
              <img [src]="file.objectURL" *ngIf="isImage(file)" class="img-thumbnail img-responsive" onerror="this.src ='assets/images/no-image-found.jpg'"><br>
              <div>
                <button type="button" class="btn-danger" (click)="remove(i)">Remove Image</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="sbmt-pic">
          <button type="submit" [disabled]="!myForm.valid || !hasFiles()" id="submitForm" name="sumbitForm" [ngClass]="{'done':myForm.valid,'pas-done':!myForm.valid}">Submit</button>
          <progress-bar [value]="progress" [max]="100" *ngIf="hasFiles() && submitStarted"></progress-bar>
        </div>
      </div>
    </fieldset>
  </form>
</div>
