.cho-fil {
    padding: 15px;
}
.cho-fil button {
  color: #0A2F87 !important;
  padding: 0 !important;
  background: #ccc !important;
  border: 1px dashed #0A2F87;
}
.cho-fil input {
  width: 100%;
  padding: 30px !important;
  float: left;
}
.sbmt-pic {
  padding: 15px;
}
.imgrw {
  float: left;
}
.imgrw-cnt {
  float: left;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: 6px;
  padding: 0 !important;
  display: flex;
  justify-content: center;
}
.imgrw td {
    padding: 0 !important;
}
.imgrw-cnt img {
  height: 100%;
  width: auto;
  max-width: none;
  flex: none;
}
.dlt-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000000;
  color: #fff;
  border: none;
  outline: none !important;
}

@media screen and (min-width:768px) {

.imgrw-cnt {
  height: 150px;
  width: 150px;
}
}

@media screen and (min-width:768px) {

.imgrw-cnt {
  height: 115px;
  width: 115px;
}
}
