<div >
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form-horizontal register-form" novalidate>
    <fieldset>




      <!-- Text input-->


      <!-- File Button -->
      <div class="form-group">
        <div class="col-md-4 col-centered">
          <button type="button" class="btn">
            <input #fileInput name="fileUp" type="file" (change)="onFileSelect($event)">
          </button>
          <div *ngIf="hasFiles()">
            <div *ngFor="let file of files">
              <img [src]="file.objectURL" *ngIf="isImage(file)" class="img-thumbnail img-responsive topMargin" onerror="this.src ='assets/images/no-image-found.jpg'"><br>
              <div>
                <button type="button" class="btn-danger topMargin" (click)="remove(i)">Remove Image</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <div class="col-md-4 col-centered">
          <button type="submit" [disabled]="!myForm.valid || !hasFiles()" id="submitForm" name="sumbitForm" class="btn btn-primary text-center bottomMargin">Submit</button>
          <br/>
          <progress-bar [value]="progress" [max]="100" *ngIf="hasFiles() && submitStarted"></progress-bar>
        </div>
      </div>
    </fieldset>
  </form>
</div>
