.phyto-menu {
    max-width: 950px;
    margin: 0 auto;
    height: 100% !important;
}
.phyto-sidenav {
    box-shadow: none !important;
    height: 100vh !important;
}
.phyto-topnav {
    height: 100vh;
}
