<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Last Appointment</h3>
  </div>
  <div class="single-wrpr beigeback">
    <form (ngSubmit)="save()">



      <label class="phyto-ctnr">Bought Products</label>
      <input
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="inputBoughtProduct"
        placeholder="Choose related product"
        (ngModelChange)="searchBoughtProducts()"
        mdInput
      >
      <div *ngFor="let fetchedBoughtProduct of fetchedBoughtProducts; let i=index">
        {{fetchedBoughtProduct.magento.sku}} - {{fetchedBoughtProduct.magento.name}}
        <button type="button" (click)="selectProduct(fetchedBoughtProduct)">select</button>
      </div>
      <div *ngFor="let productFetch of fetchedUser.products; let i=index">
        <div *ngFor="let custom_attribute of productFetch.product.magento.custom_attributes" class="rltpdt-ctnr">
          <div *ngIf="custom_attribute.attribute_code == 'image'" class="rltpdt-cnt">
            {{productFetch.product.magento.sku}} - {{productFetch.product.magento.name}}
            <img src="{{urlMagento}}{{custom_attribute.value}}" onerror="this.src ='assets/images/no-image-found.jpg'">
            <button type="button" (click)="removeProduct(i)"><i class="fa fa-times"></i></button>
          </div>
        </div>
      </div>





      <div class="valid-edit">
        <button type="submit">Done</button>
      </div>
    </form>
  </div>
</div>
