<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Clients</h3>
  </div>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
    <div class="beigeback phyto-ctnr usr-top">
      <div class="usr-basic">
        <h3>{{fetchedUser.profile.name}}</h3>
        <p><a href="mailto:{{fetchedUser.email}}">{{fetchedUser.email}}</a> - {{fetchedUser.profile.phoneNumber}}</p>
        <h5>Hair Density</h5>
        {{fetchedUser.profile.hair.hairCondition}}
        <h5>Hair Texture</h5>
        {{fetchedUser.profile.hair.hairTexture}}
        <h5>Hair Porosity</h5>
        {{fetchedUser.profile.hair.scalpCondition}}
        <button *ngIf="isMyClient()" class="edit-clt" [routerLink]="['/user/newuser/' + fetchedUser._id ]" routerLinkActive="active"><span class="glyphicon glyphicon-edit"></span></button>
      </div>
      <div class="usr-dits form-group">
        <div class="appnt-ctnr">
          <label><h5>Last Visit:</h5></label>
          <p>{{fetchedUser.lastVisit | date :'dd-MMM-yyyy'}}</p>
          <!-- <p>{{fetchedUser.lastVisit}}</p> -->
          <div *ngIf="isMyClient()">
            <button class="dat-btn dat-btnl" type="button" md-button (click)="setDateToday()">Today</button>
            or
            <button class="dat-btn dat-btnr" type="button" md-button [routerLink]="['/user/' + fetchedUser._id + '/choosedate']" routerLinkActive="active">Choose Date</button>
          </div>
        </div>
        <div class="prt-ctnr">
          <label><h5>Products Bought:</h5></label>
          <!--Connect button below to add product form-->
          <button *ngIf="isMyClient()" [routerLink]="['/user/' + fetchedUser._id + '/addProductsToUser']" routerLinkActive="active" class="addpdt-btn">Add Product <i class="fa fa-plus"></i></button>
          <!--Add last two products bought here-->


          <div *ngFor="let productFetch of fetchedUser.products; let i=index">
            <p *ngIf="i<2" class="blue">
            {{productFetch.product.magento.name}} - {{productFetch.dateProductAdded  | date :'dd-MMM-yyyy'}}
            </p>
          </div>

          <a class="seemre" [routerLink]="['/user/' + fetchedUser._id + '/productsHistory']" routerLinkActive="active">See Products History</a>
        </div>
      </div>
    </div>
    <div class="img-row">
      <h3 style="padding: 0 15px !important;">Client Photos (Tap to Expand)</h3>
      <div *ngIf="isMyClient()" class="col-sm-3">
        <button type="button" md-button (click)="openDialog('img')" class="addpic-squr">Add Picture<br><i class="fa fa-plus"></i></button>
      </div>
      <div class="col-sm-9">
        <div formArrayName="forms">
          <div *ngFor="let form of getObjects(myForm); let i=index" class="pic-wrpr">
            <div *ngIf="i < maxPictureToShow">
              <div [formGroupName]="i" class="pic-list">
                <!-- <input type="text" class="form-control dspl-nn" formControlName="_id" [(ngModel)]="fetchedUser.forms[i]._id">
                <input type="hidden" class="form-control" formControlName="owner" [(ngModel)]="fetchedUser.forms[i].owner">
                <input type="hidden" class="form-control" formControlName="imagePath" [(ngModel)]="fetchedUser.forms[i].imagePath"> -->
                <img src="./uploads/forms/{{fetchedUser.forms[i].owner}}/{{fetchedUser.forms[i].imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                <i *ngIf="isMyClient()" class="fa fa-times pull-right dlt-img" (click)="removeFormDialog(i)"></i>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="fetchedUser.forms.length>maxPictureToShow" class="phyto-ctnr">
          <a class="seemre" (click)="seeAllPicture()">See All</a>
        </div>
      </div>
    </div>
    <div *ngIf="isMyClient()" class="clt-cmts">
      <div class="form-group">
        <button class="addnte" type="button" md-button [routerLink]="['/user/' + fetchedUser._id + '/addnote']" routerLinkActive="active">Add Note<br><i class="fa fa-plus"></i></button>
        <div *ngFor="let note of fetchedUser.notes; let i=index" class="cmt-cnt">
          <p class="cmt-txt">{{note.text}}</p>
          <p class="cmt-dat">{{note.dateNote| date}}</p>
          <button type="button" (click)="removeNoteDialog(i)" class="dlt-nte"><i class="fa fa-times"></i></button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
