<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Clients</h3>
  </div>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
    <div class="phyto-ctnr img-row">
      <div class="addpic-wrpr">
        <button type="button" md-button (click)="openDialog('img')" class="addpic-rectgl">Add Picture<br><i class="fa fa-plus"></i></button>
      </div>
      <div class="phyto-ctnr">
        <div formArrayName="forms">
          <div *ngFor="let form of getObjects(myForm); let i=index" class="flt-lft">
            <div class="fll-pge">
              <div [formGroupName]="i" class="pic-list">
                <input type="text" class="form-control dspl-nn" formControlName="_id" [(ngModel)]="fetchedUser.forms[i]._id">
                <input type="hidden" class="form-control" formControlName="owner" [(ngModel)]="fetchedUser.forms[i].owner">
                <input type="hidden" class="form-control" formControlName="imagePath" [(ngModel)]="fetchedUser.forms[i].imagePath">
                <img src="./uploads/forms/{{fetchedUser.forms[i].owner}}/{{fetchedUser.forms[i].imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                <span class="glyphicon glyphicon-remove pull-right  dlt-img"  (click)="removeForm(i)"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
