<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Add Note</h3>
  </div>
  <div class="single-wrpr beigeback">
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm, myForm.valid)">
      <div class="form-group">
        <textarea type="textarea" class="form-control lng-form" formControlName="newTextNote" [(ngModel)]="newTextNote" placeholder="Add Note Here..."></textarea>
        <!-- <small *ngIf="!myForm.controls.newTextNote.valid" class="text-danger">
             Required (minimum 5 characters).
        </small> -->
        <small class="text-danger" [hidden]="myForm.get('newTextNote').valid"></small>
      </div>
      <div class="valid-edit">
        <button type="submit" [disabled]="!myForm.valid" [ngClass]="{'done':myForm.valid,'pas-done':!myForm.valid}">Done</button>
      </div>
    </form>
  </div>
</div>
