<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Clients</h3>
  </div>
  <div class="single-wrpr beigeback">
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">

      <div [ngClass]="{ 'hidden': fetchedUser._id }" class="form-group col-sm-4" id="lfthair">
        <label>Salon</label>

          <select
            class="form-control"
            formControlName="companieIndexToSelect"
            [(ngModel)]="companieIndexToSelect"
            >
            <option *ngFor="let companie of fetchedCompanies; let i=index" value="{{companie._id}}">{{companie.name}}</option>
          </select>
      </div>


      <div class="form-group col-sm-12">
        <input
          type="text"
          class="form-control"
          formControlName="email"
          [(ngModel)]="fetchedUser.email"
          placeholder="Email">
      </div>
      <div formGroupName="profile">
        <div class="form-group col-sm-12">
          <input
            type="text"
            class="form-control"
            formControlName="name"
            [(ngModel)]="fetchedUser.profile.name"
            placeholder="Client's Name">
        </div>

        <div class="form-group col-sm-12">
          <input
            type="text"
            class="form-control"
            formControlName="phoneNumber"
            [(ngModel)]="fetchedUser.profile.phoneNumber"
            placeholder="Phone Number">
        </div>

        <div formGroupName="hair">
          <div class="form-group col-sm-4" id="lfthair">
            <label>Hair Texture</label>
              <select
                class="form-control"
                formControlName="hairTexture"
                [(ngModel)]="fetchedUser.profile.hair.hairTexture">
                <option value="alan">alan</option>
                <option value="deb">deb</option>
              </select>
          </div>
          <div class="form-group col-sm-4" id="mdlhair">
            <label>Hair Porosity</label>
            <select
              class="form-control"
              formControlName="hairPorosity"
              [(ngModel)]="fetchedUser.profile.hair.hairPorosity">
              <option value="alan">alan</option>
              <option value="deb">deb</option>
            </select>
          </div>
          <div class="form-group col-sm-4" id="rghthair">
            <label>Hair Density</label>
            <select
              class="form-control"
              formControlName="hairDensity"
              [(ngModel)]="fetchedUser.profile.hair.hairDensity">
              <option value="alan">alan</option>
              <option value="deb">deb</option>
            </select>
          </div>
        </div>
      </div>
      <div class="valid-edit">
        <button type="submit" [disabled]="!myForm.valid" [ngClass]="{'done':myForm.valid,'pas-done':!myForm.valid}">Done</button>
        <button type="button" *ngIf="fetchedUser._id" class="delete" md-button (click)="openDialogDelete()">Delete</button>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
