<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Add/Edit Video</h3>
  </div>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
    <div class="beigeback dspl-flx">
      <div class="col-xs-6 col-lg-4 usr-basic">
        <h3>{{fetchedUser.profile.name}}</h3>
        <h5>Hair Density</h5>
        {{fetchedUser.profile.hair.hairDensity}}
        <h5>Hair Texture</h5>
        {{fetchedUser.profile.hair.hairTexture}}
        <h5>hairPorosity</h5>
        {{fetchedUser.profile.hair.hairPorosity}}
        <button class="edit-clt" [routerLink]="['/user/newuser/' + fetchedUser._id ]" routerLinkActive="active"><span class="glyphicon glyphicon-edit"></span></button>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-8 form-group">
        <div class="appnt-ctnr">
          <label><h5>Last Visit:</h5></label>
          <p>{{fetchedUser.lastVisit | date:'medium'}}</p>
          <button class="dat-btn dat-btnl" type="button" md-button (click)="setDateToday()">Today</button>
          or
          <button class="dat-btn dat-btnr" type="button" md-button [routerLink]="['/user/' + fetchedUser._id + '/choosedate']" routerLinkActive="active">Choose Date</button>
        </div>
        <div class="prt-ctnr">
          <label><h5>Products Bought:</h5></label>
          <!--Connect button below to add product form-->
          <button class="addpdt-btn">Add Product <i class="fa fa-plus"></i></button>
          <!--Add last two products bought here-->
          <a class="seemre" href="#">See Products History</a>
        </div>
      </div>
    </div>
    <div class="img-row">
      <h3 style="padding: 0 15px !important;">Client Photos (Tap to Expand)</h3>
      <div class="col-sm-3">
        <button type="button" md-button (click)="openDialog('img')">Add Picture<br><i class="fa fa-plus"></i></button>
      </div>
      <div formArrayName="forms" class="col-sm-9">
        <div *ngFor="let form of getObjects(myForm); let i=index" class="pic-list">
          <div [formGroupName]="i">
            <input type="text" class="form-control dspl-nn" formControlName="_id" [(ngModel)]="fetchedUser.forms[i]._id">
            <input type="hidden" class="form-control" formControlName="owner" [(ngModel)]="fetchedUser.forms[i].owner">
            <input type="hidden" class="form-control" formControlName="imagePath" [(ngModel)]="fetchedUser.forms[i].imagePath">
            <img width="150" src="./uploads/forms/{{fetchedUser.forms[i].owner}}/{{fetchedUser.forms[i].imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
            <span class="glyphicon glyphicon-remove pull-right"  (click)="removeForm(i)"></span>
          </div>
        </div>
      </div>
      <div class="seemre">
        <a href="#">See All</a>
      </div>
    </div>




    <div class="form-group">
      <label>Notes</label>
      <div *ngFor="let note of fetchedUser.notes">
        <h3>{{note.text}}</h3>
        {{note.dateNote| date}}
      </div>

    </div>
    <button type="button" md-button [routerLink]="['/user/' + fetchedUser._id + '/addnote']" routerLinkActive="active">+ Add note <i class="fa fa-plus"></i></button>

    <div class="margin-20">
      <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
    </div>
    <div class="clearfix"></div>

    <!-- <div class="margin-20">
      <div>myForm details:-</div>
      <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
      <pre>form value: <br>{{myForm.value | json}}</pre>
    </div> -->
  </form>

</div>
