<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Clients</h3>
  </div>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
    <div class="beigeback phyto-ctnr">
      <div class="col-sm-4 usr-basic">
        <h3>{{fetchedUser.profile.name}}</h3>
        <h5>Hair Density</h5>
        {{fetchedUser.profile.hair.hairDensity}}
        <h5>Hair Texture</h5>
        {{fetchedUser.profile.hair.hairTexture}}
        <h5>Hair Porosity</h5>
        {{fetchedUser.profile.hair.hairPorosity}}
        <button class="edit-clt" [routerLink]="['/user/newuser/' + fetchedUser._id ]" routerLinkActive="active"><span class="glyphicon glyphicon-edit"></span></button>
      </div>
      <div class="col-sm-7 form-group">
        <div class="appnt-ctnr">
          <label><h5>Last Visit:</h5></label>
          <p>{{fetchedUser.lastVisit | date:'medium'}}</p>
          <button class="dat-btn dat-btnl" type="button" md-button (click)="setDateToday()">Today</button>
          or
          <button class="dat-btn dat-btnr" type="button" md-button [routerLink]="['/user/' + fetchedUser._id + '/choosedate']" routerLinkActive="active">Choose Date</button>
        </div>
        <div class="prt-ctnr">
          <label><h5>Products Bought:</h5></label>
          <!--Connect button below to add product form-->
          <button class="addpdt-btn">Add Product <i class="fa fa-plus"></i></button>
          <!--Add last two products bought here-->
          <p class="blue">PhytoElixir Oil - 02/14/2017</p>
          <p class="blue">PhytoElixir Mask - 12/21/2016</p>
          <a class="seemre" href="#">See Products History</a>
        </div>
      </div>
    </div>
    <div class="img-row">
      <h3 style="padding: 0 15px !important;">Client Photos (Tap to Expand)</h3>
      <div class="col-sm-3">
        <button type="button" md-button (click)="openDialog('img')" class="addpic-squr">Add Picture<br><i class="fa fa-plus"></i></button>
      </div>
      <div class="flt-lft">
        <div formArrayName="forms">
          <div *ngFor="let form of getObjects(myForm); let i=index" class="pic-list">
            <div *ngIf="i < maxPictureToShow">

              <div [formGroupName]="i">
                <input type="text" class="form-control dspl-nn" formControlName="_id" [(ngModel)]="fetchedUser.forms[i]._id">
                <input type="hidden" class="form-control" formControlName="owner" [(ngModel)]="fetchedUser.forms[i].owner">
                <input type="hidden" class="form-control" formControlName="imagePath" [(ngModel)]="fetchedUser.forms[i].imagePath">
                <img src="./uploads/forms/{{fetchedUser.forms[i].owner}}/{{fetchedUser.forms[i].imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                <span class="glyphicon glyphicon-remove pull-right  dlt-img"  (click)="removeForm(i)"></span>
              </div>
            </div>
          </div>
        </div>
        
        <div *ngIf="fetchedUser.forms.length>maxPictureToShow">
          <a class="seemre" (click)="seeAllPicture()">See All</a>
        </div>
      </div>
    </div>
    <div class="clt-cmts">
      <div class="form-group">
        <button class="addnte" type="button" md-button [routerLink]="['/user/' + fetchedUser._id + '/addnote']" routerLinkActive="active">Add Note<br><i class="fa fa-plus"></i></button>
        <div *ngFor="let note of fetchedUser.notes" class="cmt-cnt">
          <p class="cmt-txt">{{note.text}}</p>
          <p class="cmt-dat">{{note.dateNote| date}}</p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
