
<div class="container topPadTable">
  <h2 class="text-center">Client

  <button class="btn-default" (click)="goBack()"><i class="fa fa-arrow-left"></i></button>


  </h2>

  <hr>
  <h4>id: {{fetchedUser._id}}</h4>
  <h4>updatedAt: {{fetchedUser.updatedAt}}</h4>
  <h4>email: {{fetchedUser.email}}</h4>
  <h4>name: {{fetchedUser.profile.name}}</h4>
  <h4>hairTexture: {{fetchedUser.profile.hair.hairTexture}}</h4>

  <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
    <div class="form-group">
      <div ngModelGroup="fetchedObj">
        <input
          type="text"
          class="form-control"
          [readonly]="true"
          name="email"
          [(ngModel)]="fetchedUser.email"
          #name="ngModel"
        >

        <div ngModelGroup="forms">
          <!-- <div>
            <img width="150" src="./uploads/forms/{{fetchedUser.img.owner}}/{{fetchedUser.img.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
          </div> -->




          <div *ngFor="let form of fetchedUser.forms; let in = index">

              <!-- {{form|json}} -->
              <input type="hidden"
                class="form-control"
                name="_id-{{in}}"
                [(ngModel)]="form._id"
                #name="ngModel"
              >
              <img width="150" src="./uploads/forms/{{form.owner}}/{{form.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
          </div>
          <button type="button" md-button (click)="openDialog('img')">+ Media</button>
        </div>
      </div>
    </div>



    <button type="submit" class="btn btn-default">Submit</button>
  </form>




</div>
