
<div class="container topPadTable">
  <h2 class="text-center">
    <button class="btn-default" (click)="goBack()"><i class="fa fa-arrow-left"></i></button>

    <button class="btn-default" [routerLink]="['/user/newuser']" routerLinkActive="active"><i class="fa fa-plus-circle"></i></button>
    Users
  </h2>

  <hr>

  <table class="table table-hover table-responsive table-condensed">
    <thead>
    <tr>
      <th>Name</th>
      <th>Last Visit</th>

    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let user of fetchedUsers | paginate: { id: 'server', itemsPerPage: paginationData.itemsPerPage, currentPage: paginationData.currentPage, totalItems: paginationData.totalItems }"
      [routerLink]="['/user/' + user._id]" routerLinkActive="active"
    >
      <td>{{user.profile.name }}</td>
      <td>{{user.updatedAt}}</td>
    </tr>
    </tbody>
  </table>
  <div class="has-text-centered">
      <div class="spinner" [ngClass]="{ 'hidden': !loading }">Loading...</div>
      <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
  </div>

</div>
