<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Phyto Products</h3>
  </div>
  <div class="beigeback">
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value)" (keydown.enter)="$event.preventDefault()">
      <input type="hidden" class="form-control" formControlName="_id" [(ngModel)]="fetchedProduct._id">
      <div class="form-group">
        <div class="phyto-ctnr first-half">
          <div style="float:left;">
            <div *ngFor="let custom_attribute of fetchedProduct.magento.custom_attributes">
              <div *ngIf="custom_attribute.attribute_code == 'image'" class="mgtpdt-img">
                <img src="{{urlMagento}}{{custom_attribute.value}}" onerror="this.src ='assets/images/no-image-found.jpg'">
              </div>
            </div>
            <div class=" single-wrpr mgtpdt-txtcnt">
              <div class="pdt-nm">{{fetchedProduct.magento.name}}</div>
              <div *ngFor="let custom_attribute of fetchedProduct.magento.custom_attributes">
                <p *ngIf="custom_attribute.attribute_code == 'description'" class="mgtpdt-desc">
                  {{custom_attribute.value}}
                </p>
              </div>
              <div class="pronunciation">
                <div class="hlf-wdth">
                  <h4>Pronunciation</h4>
                  <p class="pron-txt">phyto əlɪksər</p>
                </div>
                <div class="hlf-wdth">
                  <i class="fa fa-volume-up"></i>
                </div>
              </div>
              <h4>Keywords</h4>
              <div *ngFor="let categorie of fetchedProduct.categories" class="pdt-tagz">
                <div *ngIf="categorie.type == 'tag'">
                  <div class="pdt-tag">{{categorie.name}},</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <md-tab-group (selectChange)="onSelectChange($event)" class="beigeback phyto-ctnr pdtind-tabs">
        <md-tab *ngFor="let categorie of categories5" [label]="categorie.name">
          Camellia Oil: Nourishes and protects
          Corn Germ Oil: Soothes and is rich in essential fatty acids
          Egg Yolk: Strengthens and replaces lost lipids and peptides
          Karanja Oil: Hydrates and protects from external aggressors
        </md-tab>
      </md-tab-group>
      <div class+="rlt-pdts beigeback">
        <h4>Related Products</h4>
        
      </div>
    <div class="clearfix"></div>
  </form>
</div>
