<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Phyto Products</h3>
  </div>
  <div class="prdts-ln">
    <div class="prdts-cat frst-cat">Phyto</div>
    <div class="prdts-cat scd-cat">Phyto Specific</div>
    <div class="prdts-cat thrd-cat">Subtil</div>
  </div>
  <div class="beigeback single-wrpr phyto-ctnr">
    <input
      placeholder="Search"
    >
    <div class="phyto-ctnr">
      <p>Filter Your Search (Tap to Select):</p>
      <h3>Hair Type</h3>
      <button class="cat-btn">colored</button>
      <button class="cat-btn">fine</button>
      <button class="cat-btn">gray/platinum</button>
      <button class="cat-btn">curly</button>
      <button class="cat-btn">normal</button>
      <button class="cat-btn">relaxed</button>
      <button class="cat-btn">unruly</button>
    </div>
    <div class="phyto-ctnr">
      <h3>Concerns</h3>
      <button class="cat-btn">damaged</button>
      <button class="cat-btn">aging</button>
      <button class="cat-btn">dry</button>
      <button class="cat-btn">dandruff</button>
      <button class="cat-btn">unbalanced scalp</button>
      <button class="cat-btn">sensitive scalp</button>
      <button class="cat-btn">thinning</button>
      <button class="cat-btn">life-stressed</button>
    </div>
  </div>
  <table class="table table-hover table-responsive table-condensed">
    <thead>
    <tr>
      <th>Image</th>
      <th>Form ID</th>
      <th>Text Input One</th>
      <th>Text Input Two</th>
      <th>Owner</th>
      <th>Date Submitted</th>
      <th>Date Edited</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of fetchedProducts | paginate: { id: 'server', itemsPerPage: paginationData.itemsPerPage, currentPage: paginationData.currentPage, totalItems: paginationData.totalItems }">
      <td class="img-resized">
        <img class="img-thumbnail img-responsive" src="./uploads/profiles/{{product._id}}/{{product.profilePic}}" onerror="this.src ='assets/images/no-image-found.jpg'">
      </td>
      <td>{{product._id }}</td>
      <td><a [routerLink]="['/product/' + product._id]" routerLinkActive="active">{{product.email}}</a></td>
      <td>{{product.region_id}}</td>
      <td>{{product.address}}</td>


      <td>
        <button class="btn-default" (click)="onOpenModal(product._id)"><i class="fa fa-pencil"></i></button>
      </td>
      <td>
        <button class="btn-danger" (click)="onDelete(product._id)"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="has-text-centered">
      <div class="spinner" [ngClass]="{ 'hidden': !loading }">Loading...</div>
      <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
  </div>

</div>
