<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Phyto Products</h3>
    <button *ngIf="isAdmin()" class="subnav-btnright" [routerLink]="['/product/productSingle']" routerLinkActive="active"><i class="fa fa-plus"></i></button>
  </div>
  <div class="prdts-ln">
    <div *ngFor="let categorie1 of categories1" class="prdts-cat"> 
      <button>
        [ngClass]="{'cat-btn-on':categorie1.selected,'cat-btn':!categorie1.selected}"
        (click)="changeCateg1(categorie1.name)"
        >{{categorie1.name}}
      </button>
    </div>
  </div>
  <div class="subsubnav-product beigeback">
    <div class="product-srchrow">
      <div class="srchbar">
        <input
          [(ngModel)]="search.search"
          placeholder="Search"
          (ngModelChange)="addSearchInput()"
        >
      </div>
      <p>Filter Your Search (Tap to Select):</p>
    </div>
    <div class="phyto-ctnr">
      <h3>Hair Type</h3>
      <button class="cat-btn">colored</button>
      <button class="cat-btn">fine</button>
      <button class="cat-btn">gray/platinum</button>
      <button class="cat-btn">curly</button>
      <button class="cat-btn">normal</button>
      <button class="cat-btn">relaxed</button>
      <button class="cat-btn">unruly</button>
    </div>
    <div class="phyto-ctnr">
      <h3>Concerns</h3>
      <button class="cat-btn">damaged</button>
      <button class="cat-btn">aging</button>
      <button class="cat-btn">dry</button>
      <button class="cat-btn">dandruff</button>
      <button class="cat-btn">unbalanced scalp</button>
      <button class="cat-btn">sensitive scalp</button>
      <button class="cat-btn">thinning</button>
      <button class="cat-btn">life-stressed</button>
    </div>
  </div>
  <md-tab-group (selectChange)="onSelectChange($event)" class="beigeback pdt-tabs">
    <md-tab label="conditioners & masks" class="pdt-tab"></md-tab>
    <md-tab label="dietary supplements" class="pdt-tab"></md-tab>
    <md-tab label="leave-in care" class="pdt-tab"></md-tab>
    <md-tab label="relaxers" class="pdt-tab"></md-tab>
    <md-tab label="styling" class="pdt-tab"></md-tab>
    <md-tab label="serums" class="pdt-tab"></md-tab>
    <md-tab label="shampoos" class="pdt-tab"></md-tab>
    <md-tab label="treatments" class="pdt-tab"></md-tab>
  </md-tab-group>
  <table class="table table-hover table-responsive table-condensed pdt-tbl">
    <tbody>
      <tr *ngFor="let product of fetchedProducts | paginate: { id: 'server', itemsPerPage: paginationData.itemsPerPage, currentPage: paginationData.currentPage, totalItems: paginationData.totalItems }" class="pdt-ctnr">
        <td class="pdt-cnt">
          <p>{{product._id}}</p>
          <div class="pdt-nm">Product Name Here</div>
          <div class="pdt-desc">This is the product description no more than 90 characters"</div>
          <div *ngFor="let custom_attribute of product.magento.custom_attributes" class="pdt-subcnt">
            <div *ngIf="custom_attribute.attribute_code == 'image'" class="pdt-img">
              <img src="{{urlMagento}}{{custom_attribute.value}}" onerror="this.src ='assets/images/no-image-found.jpg'">
            </div>
            <button *ngIf="isAdmin()" class="editicon" [routerLink]="['/product/productSingle/' + product._id]" routerLinkActive="active"><span class="glyphicon glyphicon-edit"></span></button>
          </div>
        </td>
        <td><a [routerLink]="['/product/' + product._id]" routerLinkActive="active">{{product.email}}</a></td>
      </tr>
    </tbody>
  </table>
  <div class="has-text-centered">
    <div [ngClass]="{ 'hidden': !loading }">Loading...</div>
    <button
      *ngIf="paginationData.currentPage * paginationData.itemsPerPage < paginationData.totalItems"
      type="button" (click)="loadMore()" class="ldmre">
      Load More
    </button>
  </div>
</div>
