<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Products</h3>
  </div>
  <div>
    <div class="prdts-ln">
      <div *ngFor="let categorie1 of categories1">
        <button
          [ngClass]="{'bigcat-btn-on':categorie1.selected,'bigcat-btn':!categorie1.selected}"
          (click)="changeCateg1(categorie1.name)"
          >{{categorie1.name}}
        </button>
      </div>
    </div>
    <div class="subsubnav-product beigeback">
      <div class="product-srchrow">
        <div class="srchbar">
          <input
            [(ngModel)]="search.search"
            placeholder="Search"
            (ngModelChange)="addSearchInput()"
          >
        </div>
      </div>
      <button class="ctrl-hidit"><i class="fa fa-chevron-down"></i> OPEN FILTERS</button>
      <div id="hidit-ctnr">
        <div class="hidit phyto-ctnr">
          <p>Filter Your Search (Tap to Select):</p>
          <div class="phyto-ctnr">
            <h4>Hair Type</h4>
            <button class="cat-btn">colored</button>
            <button class="cat-btn">fine</button>
            <button class="cat-btn">gray/platinum</button>
            <button class="cat-btn">curly</button>
            <button class="cat-btn">normal</button>
            <button class="cat-btn">relaxed</button>
            <button class="cat-btn">unruly</button>
          </div>
          <div class="phyto-ctnr">
            <h4>Concerns</h4>
            <button class="cat-btn">damaged</button>
            <button class="cat-btn">aging</button>
            <button class="cat-btn">dry</button>
            <button class="cat-btn">dandruff</button>
            <button class="cat-btn">unbalanced scalp</button>
            <button class="cat-btn">sensitive scalp</button>
            <button class="cat-btn">thinning</button>
            <button class="cat-btn">life-stressed</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <md-tab-group (selectChange)="onSelectChange($event)" class="beigeback phyto-ctnr pdt-tabs">
    <md-tab label="conditioners & masks" textLabel="whatsnew"></md-tab>
    <md-tab label="diateray supplements" textLabel="treatments"></md-tab>
    <md-tab label="leave-in care" textLabel="knowledges"></md-tab>
    <md-tab label="relaxers" textLabel="testimonials"></md-tab>
    <md-tab label="styling" textLabel="merchandising"></md-tab>
    <md-tab label="serums" textLabel="promotions"></md-tab>
    <md-tab label="shampoos" textLabel="promotions"></md-tab>
    <md-tab label="treatments" textLabel="promotions"></md-tab>
  </md-tab-group>
  <table class="table table-hover table-responsive table-condensed pdt-tbl">
    <tbody>
      <tr *ngFor="let product of fetchedProducts | paginate: { id: 'server', itemsPerPage: paginationData.itemsPerPage, currentPage: paginationData.currentPage, totalItems: paginationData.totalItems }" class="pdt-ctnr">
          <td class="pdt-cnt">
            <a href="#">
              <div class="pdt-nm">{{product.magento.name}}</div>
              <div *ngFor="let custom_attribute of product.magento.custom_attributes">
                <div *ngIf="custom_attribute.attribute_code == 'description'">
                  <div class="pdt-desc">{{custom_attribute.value | smallDescription}}</div>
                </div>
              </div>
              <div class="pdt-tagzctnr">
                <div *ngFor="let categorie of product.categories" class="pdt-tagz">
                  <div class="pdt-tag">{{categorie.name}}</div>
                </div>
              </div>
            </a>
            <div *ngFor="let custom_attribute of product.magento.custom_attributes" class="pdt-subcnt">
              <div *ngIf="custom_attribute.attribute_code == 'image'" class="pdt-img">
                <a href="#"><img src="{{urlMagento}}{{custom_attribute.value}}" onerror="this.src ='assets/images/no-image-found.jpg'"></a>
              </div>
              <button *ngIf="isAdmin()" class="editicon" [routerLink]="['/product/productSingle/' + product._id]" routerLinkActive="active"><span class="glyphicon glyphicon-edit"></span></button>
            </div>
          </td>
        <td><a [routerLink]="['/product/' + product._id]" routerLinkActive="active">{{product.email}}</a></td>
      </tr>
    </tbody>
  </table>
  <div class="has-text-centered">
    <div [ngClass]="{ 'hidden': !loading }">Loading...</div>
    <button
      *ngIf="paginationData.currentPage * paginationData.itemsPerPage < paginationData.totalItems"
      type="button" (click)="loadMore()" class="ldmre">
      Load More
    </button>
  </div>
</div>
