<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Phyto Products</h3>
  </div>
  <div class="single-wrpr beigeback">
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value)" (keydown.enter)="$event.preventDefault()">
      <input type="hidden" class="form-control" formControlName="_id" [(ngModel)]="fetchedProduct._id">
      <div class="form-group">
        <div class="phyto-ctnr magento-info">
          <div style="float:left;">
            <h4>Product Name:</h4>
            {{fetchedProduct.magento.name}}
            <h4>Product Price (Not Visible):</h4>
            {{fetchedProduct.magento.price}}$
            <h4>Product SKU (Not Visible):</h4>
            {{fetchedProduct.magento.sku}}
            <h4>Product Description:</h4>
            <div *ngFor="let custom_attribute of fetchedProduct.magento.custom_attributes">
              <div *ngIf="custom_attribute.attribute_code == 'description'" class="magento-desc">
                {{custom_attribute.value}}
              </div>
            </div>
            <h4>Other Information (Not Visible):</h4>
            <div *ngFor="let custom_attribute of fetchedProduct.magento.custom_attributes">
              <div *ngIf="custom_attribute.attribute_code == 'country_of_manufacture'">
                {{custom_attribute.value}}
              </div>
              <div *ngIf="custom_attribute.attribute_code == 'url_path'">
                {{custom_attribute.value}}
              </div>
              <div *ngIf="custom_attribute.attribute_code == 'image'" class="magento-img">
                <img src="{{urlMagento}}{{custom_attribute.value}}" onerror="this.src ='assets/images/no-image-found.jpg'">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lft-form">
        <label>Select Categories For This Product:</label>
        <div *ngFor="let categorieHard of categoriesHard2; let i=index">
          <md-checkbox
            (click)="togglCategorieButton(categorieHard.name, 'categ2')"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="categoriesHard2[i].selected"
          ></md-checkbox>
          {{categorieHard.name}}
        </div>
        <label>Select Product Line For This Product:</label>
        <div *ngFor="let categorieHard of categoriesHard1; let i=index">
          <md-checkbox
            (click)="togglCategorieButton(categorieHard.name, 'categ1')"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="categoriesHard1[i].selected"
          ></md-checkbox>
          {{categorieHard.name}}
        </div>
      </div>
      <div class="rght-form">
        <input
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="inputCategorie"
          placeholder="Add Tags to Product"
          (keyup.enter)="addCategorieInput()"
          mdInput
        >
        <div formArrayName="categories">
          <div *ngFor="let categorie of getObjects(myForm); let i=index" class="tagz">
            <div [formGroupName]="i">
              <input type="hidden" class="form-control" formControlName="name" [(ngModel)]="fetchedProduct.categories[i].name">
              <input type="hidden" class="form-control" formControlName="type" [(ngModel)]="fetchedProduct.categories[i].type">
              <div class="tagz-cnt" *ngIf="fetchedProduct.categories[i].type=='tag'">
                <div class="tagz">
                  <span class="tagz-name">{{fetchedProduct.categories[i].name}}</span>
                  <i class="tagz-icn fa fa-times pull-right" (click)="removeCategorie(i)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="valid-edit">
      <button type="submit" class="done" [disabled]="!myForm.valid">Done</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
