<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Phyto Products</h3>
  </div>
  <div class="beigeback">
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value)" (keydown.enter)="$event.preventDefault()">
      <input type="hidden" class="form-control" formControlName="_id" [(ngModel)]="fetchedProduct._id">

                      Remove "Open filters" buttons for "All" and "Subtil"
                    productSingle is for editing, but we also need an individual product view
                    There is a scroll issue when no related products are selected. To fix it, please add condition as follows: If no products are selected in related products, then apply the "dspl-nn" class to the element
                    In tabs, change "Ingredients" to "Active ingredients"
                    Product Categories should be: conditioners & masks, dietary supplements, leave-in care, relaxers, styling, serums, shampoos, treatments

                    Promotion still visible if end date is older than today or start date is after today
                    Add "Show Inactive Promotions" button which opens page with list of all promotions with ability to delete them
                    Make sure it works + connect to button mentioned right above
                    Improve Css
                    Get rid of image id field (commented for now)
                    Get rid of no image placeholder when hasn't uploaded image yet
                    Make Delete button work
                    Set up start and end date
                    Add Promotion button closes page
                    Delete button should just open popup and not delete right away
                    Make add image mandatory to be able to submit
                    Make delete PDF button work

                    Close button outline to fix
                    When I land on the page social from the apge user, the instagram script creates an error. I'm assuming it's because the app isn't refreshed the script isn't loaded. Could you check?

                    ok

      <md-tab-group (selectChange)="onSelectChange($event)" class="beigeback phyto-ctnr pdtind-tabs">
        <md-tab *ngFor="let categorie of categories5 ; let i=index" [label]="categorie.name">
          <div *ngIf="i == 0">{{fetchedProduct.description.benefitsAndResults}}</div>
          <div *ngIf="i == 1">{{fetchedProduct.description.howToApply}}</div>
          <div *ngIf="i == 2">{{fetchedProduct.description.activeIngredients}}</div>
        </md-tab>
      </md-tab-group>
      <div
        *ngIf="fetchedProduct.relatedProducts.length"
        class="rlt-pdts beigeback phyto-ctnr">
        <h4 style="text-align: center;">Related Products</h4>
        <div *ngFor="let relatedProduct of fetchedProduct.relatedProducts" class="rltpdt-ctnr">
          <a [routerLink]="['/product/' + relatedProduct._id]">
            <div class="rltpdt-cnt">
              <div class="pdt-nm">{{relatedProduct.magento.name}}</div>
              <div *ngFor="let custom_attribute of relatedProduct.magento.custom_attributes">
                <!-- <div *ngIf="custom_attribute.attribute_code == 'image'"> -->
                  Remove "Open filters" buttons for "All" and "Subtil"
productSingle is for editing, but we also need an individual product view
There is a scroll issue when no related products are selected. To fix it, please add condition as follows: If no products are selected in related products, then apply the "dspl-nn" class to the element
In tabs, change "Ingredients" to "Active ingredients"
Product Categories should be: conditioners & masks, dietary supplements, leave-in care, relaxers, styling, serums, shampoos, treatments

Promotion still visible if end date is older than today or start date is after today
Add "Show Inactive Promotions" button which opens page with list of all promotions with ability to delete them
Make sure it works + connect to button mentioned right above
Improve Css
Get rid of image id field (commented for now)
Get rid of no image placeholder when hasn't uploaded image yet
Make Delete button work
Set up start and end date
Add Promotion button closes page
Delete button should just open popup and not delete right away
Make add image mandatory to be able to submit
Make delete PDF button work

Close button outline to fix
When I land on the page social from the apge user, the instagram script creates an error. I'm assuming it's because the app isn't refreshed the script isn't loaded. Could you check?

ok
                  <!-- <img height="300px" src="{{urlMagento}}{{custom_attribute.value}}" onerror="this.src ='assets/images/no-image-found.jpg'"> -->
                <!-- </div> -->
                <div *ngIf="custom_attribute.attribute_code == 'description'">
                  <div class="pdt-desc">{{custom_attribute.value | smallDescription}}</div>
                </div>
              </div>
            </div>
            <div *ngFor="let categorieTag of relatedProduct.categoriesTag; let i=index " class="pdt-tagz">
              <div class="pdt-tag">{{categorieTag.name}}<b *ngIf="product.categoriesTag.length!== i +1">,&nbsp;</b></div>
            </div>
          </a>
        </div>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
