<div class="single-wrpr beigeback">
  <h3>Account Settings</h3>
  <p class="blue">Update Your Account Information:</p>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="" novalidate>
    <div class="input-group">
      <input type="text" placeholder="Email" class="form-control">
    </div>
    <div class="input-group">
      <input type="text" placeholder="Phone Number" class="form-control">
    </div>
    <p class="blue">Change Your Password</p>
    <div class="input-group">
      <input #userPassword type="password" formControlName="currentPassword" placeholder="Current Password" class="form-control">
    </div>
    <div [hidden]="currentPassword.valid || currentPassword.pristine" class="alert alert-danger">Password must contain 6 or more characters</div>
    <div class="input-group">
      <input type="password" formControlName="newPassword" placeholder="New Password" class="form-control">
    </div>
    <div [hidden]="newPassword.valid || newPassword.pristine" class="alert alert-danger">
      Password must contain 6 or more characters
    </div>
    <div class="valid-edit">
      <button type="submit" [disabled]="!resetPasswordForm.valid" [ngClass]="{'done':resetPasswordForm.valid,'pas-done':!resetPasswordForm.valid}">Done</button>
    </div>
  </form>
</div>
