<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Products</h3>
  </div>
  <div>

    <div class="subsubnav-product beigeback">
      <div class="product-srchrow">
        <div class="srchbar">
          <input
            [(ngModel)]="search.search"
            placeholder="Search"
            (ngModelChange)="addSearchInput()"
          >
        </div>
      </div>

    </div>
  </div>

  <table class="table table-hover table-responsive table-condensed pdt-tbl">
    <tbody>
      <tr *ngFor="let product of fetchedProducts | paginate: { id: 'server', itemsPerPage: paginationData.itemsPerPage, currentPage: paginationData.currentPage, totalItems: paginationData.totalItems }" class="pdt-ctnr">
        <td class="pdt-cnt">
          <a [routerLink]="['/product/' + product._id]">
            <div class="pdt-nm">{{product.magento.name}}</div>
            <div *ngIf="product.categories.length == 0" class="nolink"><i class="fa fa-exclamation-triangle"></i> UNLINKED</div>

            <div *ngFor="let custom_attribute of product.magento.custom_attributes">
              <div *ngIf="custom_attribute.attribute_code == 'description'">
                <div class="pdt-desc">{{custom_attribute.value | smallDescription}}</div>
              </div>
            </div>
            <div class="pdt-tagzctnr">
              <div *ngFor="let categorieTag of product.categoriesTag; let i=index " class="pdt-tagz">
                  <div class="pdt-tag">{{categorieTag.name}}<b *ngIf="product.categoriesTag.length!== i +1">, </b></div>
              </div>
              <!-- <div *ngFor="let categorie of product.categories" class="pdt-tagz">
                <div *ngIf="categorie.type == 'tag'">
                  <div class="pdt-tag">{{categorie.name}},</div>
                </div>
              </div> -->
            </div>
          </a>
          <div *ngFor="let custom_attribute of product.magento.custom_attributes" class="pdt-subcnt">
            <div *ngIf="custom_attribute.attribute_code == 'image'" class="pdt-img">
              <a [routerLink]="['/product/' + product._id]"><img src="{{urlMagento}}{{custom_attribute.value}}" onerror="this.src ='assets/images/no-image-found.jpg'"></a>
            </div>
            <button *ngIf="isAdmin()" class="editicon" [routerLink]="['/product/productEdit/' + product._id]" routerLinkActive="active"><span class="glyphicon glyphicon-edit"></span></button>
          </div>
        </td>
        <td><a [routerLink]="['/product/' + product._id]" routerLinkActive="active">{{product.email}}</a></td>
      </tr>
    </tbody>
  </table>
  <div class="has-text-centered">
    <div [ngClass]="{ 'hidden': !loading }">Loading...</div>
    <button
      *ngIf="paginationData.currentPage * paginationData.itemsPerPage < paginationData.totalItems"
      type="button" (click)="loadMore()" class="ldmre">
      Load More
    </button>
  </div>
</div>
