/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';



/*@import 'node_modules/@angular/material/core/theming/_theming';*/




html, body {
    height: 100% !important;
}
.col-centered {
  margin: 0 auto;
  float: none;
}
.container {
    width: 100% !important;
    max-width: 950px !important;
    padding: 0 !important;
}
a.active {
  font-weight: bold;
}
a.active, a:hover {
  text-decoration: none;
}
input {
  padding: 10px;
}
th {
  color: #0a2f87;
  font-size: 16px;
  padding: 15px !important;
}
th, td {
  border: none !important;
  outline:none !important;
}
.table-responsive {
  border: 0;
}
.lostPassword {
  margin-top: 20px;
}
.form-control {
  border-radius:  0;
}
.jumbotron {
  border-radius: 0 !important;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Montserrat", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid #ccc;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  border-radius: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover, .form button:active, .form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.form-group {
    margin-bottom: 0 !important;
}
body {
  font-family: "Montserrat", sans-serif;
}
.goldgradient {
    background: #c9bda5;
    background: -webkit-radial-gradient(#ffffff, #c9bda5); /* Safari */
    background: -o-radial-gradient(#ffffff, #c9bda5); /* Opera */
    background: -moz-radial-gradient(#ffffff, #c9bda5); /* Firefox */
    background: radial-gradient(#ffffff, #c9bda5); /* Standard syntax */
}
.beigeborder {
    border: 1px solid #c9bda5;
}
.beigeback {
    background-color: #efe9df;
}
.nopadding {
    padding: 0 !important;
}
h3 {
    color: #0a2f87;
}
.subnav h3 {
    margin: 10px auto;
    width: 60%;
}
.subnav {
    padding: 0 15px;
}
.subnav-btnleft {
    float: left;
    background: none;
    border: none;
    padding: 11px 18px 11px 0;
    font-size: 18px;
    color: #0a2f87;
    outline: none !important;
}
.subnav-btnright {
    float: right;
    margin-top: -37px;
    background-color: #999999;
    color: #ffffff;
    border: none;
    outline: none !important;
    font-size: 18px;
    padding: 3px 8px 0 8px;
}
.editicon {
    position: absolute !important;
    top: 3px;
    left: 3px;
    color: #fff !important;
    min-width: 20px!important;
    background-color: #999;
    font-size: 18px !important;
    border-radius: 0!important;
    padding: 10px 12px 8px 12px !important;
    border: none !important;
}
td {
    cursor: pointer;
}
.change-page ul {
    padding: 20px !important;
    margin: 0 auto !important;
    text-align: center;
}
.change-page li {
    font-size: 15px !important;
}
.change-page li.current {
    background-color: #0a2f87 !important;
}
.single-wrpr {
    padding: 15px;
}
.single-wrpr label {
    color: #0a2f87;
    font-family: inherit !important;
    font-weight: inherit !important;
    font-size: 14px !important;
    margin-top: 15px;
}
.single-wrpr label.mat-checkbox-layout {
    margin: 10px 0;
}
.single-wrpr .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #0a2f87 !important;
}
.single-wrpr .mat-checkbox-inner-container {
    padding: 15px !important;
}

/*--Responsive--*/

@media screen and (max-width: 991px) {
  h3 {
    font-size: 17px;
    line-height: 1.5;
  }
}
