.phyto-topnav {
    height: 100% !important;
    background-color: #efe9df !important;
}
.done, .pas-done {
    margin: 0 0 15px;
}
.log-scrn .done {
    float: left;
    margin: 0 0 0 15px !important;
}
.log-scrn .input-group {
    width: 100% !important;
}
