<div class="single-wrpr log-scrn">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="login-form" novalidate>
    <p #newPassword >Please enter a password for your account and press submit.</p>
    <span class="help-block"></span>
    
    <div class="input-group">
      <input type="password" #input formControlName="password" name="password" id="password" placeholder="Password" class="form-control">
      <button class="done" type="button" (click)="showPassword(input)"><i class="fa fa-eye"></i> Show Password</button>
    </div>
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password must contain at least 6 characters</div>
    <button type="submit" [disabled]="!myForm.valid" [ngClass]="{'done':myForm.valid,'pas-done':!myForm.valid}">Submit</button>
  </form>
</div>
